
* {
    margin: 0px;
    padding: 0px;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.forkit {
    position: fixed;
    right: 0;
    top: 0;
    width: 170px;
    height: 125px;
    z-index: 999;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}
a.forkit {
    text-decoration: none !important;;
}
    .forkit .tag {
        display: block;
        height: 30px;
        width: 220px;
        color: #fff;
        background: #aa0000;
        text-align: center;
        font-size: 13px;
        font-weight: bold;
        line-height: 30px;
        box-shadow: 0px 0px 10px rgba( 0, 0, 0, 0.4 );

        -webkit-transform-origin: 15px 0px;
           -moz-transform-origin: 15px 0px;
            -ms-transform-origin: 15px 0px;
             -o-transform-origin: 15px 0px;
                transform-origin: 15px 0px;
    }
    .forkit .tag:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 218px;
        height: 26px;
        margin: 1px;
        border: 1px solid rgba( 255, 255, 255, 0.4 );
    }
    .forkit .string {
        display: block;
        height: 1px;
        width: 0px;
        position: absolute;

        background: rgba( 255, 255, 255, 0.7 );
        box-shadow: 0px 0px 10px rgba( 0, 0, 0, 0.4 );

        -webkit-transform-origin: 0px 0px;
           -moz-transform-origin: 0px 0px;
            -ms-transform-origin: 0px 0px;
             -o-transform-origin: 0px 0px;
                transform-origin: 0px 0px;
    }


.forkit-curtain {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    z-index: 9999999;
}

.sharing {
    position: absolute;
    bottom: 16px;
    left: 20px;
}

.forkit-curtain {
    text-align: center;
    background: #000;
    padding-top: 10%;
}
    .forkit-curtain  .close-button {
     background-repeat: no-repeat !important;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 150px;
    top: 30px;
    cursor: pointer;
    background: url(../images/close.png);
        z-index: 9999;
}


}
