/* Remove padding and margin */

*{
    margin: 0;
    padding: 0;
    border: 0;
}*

body {
    font-family: 'Raleway', sans-serif !important;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    color: #2b2b2b;
}



a:hover {
    transition: .8s;
    cursor: pointer;
}


/* Home Page Gallery css */

.demo-3 {
    position: relative;
    width: 100%;
    max-height: 300px;
    min-height: 300px;
    overflow: hidden;
    float: left;
    margin: 0px;
    padding: 0px;
}

.demo-3 img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.demo-3 figure {
    margin: 0;
    padding: 0;
    position: relative;
    cursor: pointer;
    /* margin-left:-50px*/
}

.demo-3 figure img {
    display: block;
    position: relative;
    z-index: 10;
    /*margin:-15px 0;*/
    margin: 0px;
    max-height: 300px;
    min-height: 300px;
}

.demo-3 figure figcaption {
    display: block;
    position: absolute;
    z-index: 5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.demo-3 figure h2 {
    font-family: 'Lato';
    color: #fff;
    font-size: 20px;
    text-align: left
}

.demo-3 figure p {
    display: block;
    font-size: 17px;
    line-height: 34px;
    font-weight: 200;
    margin: 0;
    color: #fff;
    text-align: center;
}

.demo-3 .figure-p-top {
    padding-top: 8%;
}

.demo-3 figure figcaption {
    max-height: 300px;
    min-height: 300px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 29px 44px;
    text-align: center;
    backface-visibility: hidden;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s
}

.demo-3 figure img {
    backface-visibility: hidden;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s
}

.demo-3 figure:hover img,
figure.hover img {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg)
}

.demo-3 figure:hover figcaption,
figure.hover figcaption {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    transform: rotateY(0)
}

.figure_flip_1 {
    background-image: url(../images/home-page-img/home_img_01_flip.jpg);
    background-size: 100% 100%;
}

.figure_flip_2 {
    background-image: url(../images/home-page-img/home_img_02_flip.jpg);
    background-size: 100% 100%;
}

.figure_flip_3 {
    background-image: url(../images/home-page-img/home_img_03_flip.jpg);
    background-size: 100% 100%;
}

.figure_flip_4 {
    background-image: url(../images/home-page-img/home_img_04_flip.jpg);
    background-size: 100% 100%;
}

.figure_flip_5 {
    background-image: url(../images/home-page-img/home_img_05_flip.jpg);
    background-size: 100% 100%;
}

.figure_flip_6 {
    background-image: url(../images/home-page-img/home_img_06_flip.jpg);
    background-size: 100% 100%;
}

.figure_flip_7 {
    background-image: url(../images/home-page-img/home_img_07_flip.jpg);
    background-size: 100% 100%;
}

.figure_flip_8 {
    background-image: url(../images/home-page-img/home_img_08_flip.jpg);
    background-size: 100% 100%;
}

.figure_flip_9 {
    background-image: url(../images/home-page-img/home_img_09_flip.jpg);
    background-size: 100% 100%;
}

.figure_flip_10 {
    background-image: url(../images/home-page-img/home_img_10_flip.jpg);
    background-size: 100% 100%;
}

.figure_flip_11 {
    background-image: url(../images/home-page-img/home_img_11_flip.jpg);
    background-size: 100% 100%;
}

.figure_flip_12 {
    background-image: url(../images/home-page-img/home_img_12_flip.jpg);
    background-size: 100% 100%;
}


/* Home down Arrow svg css */

svg {
    vertical-align: middle;
}

.scroll-down {
    margin: 0 auto;
    bottom: 35px;
    cursor: pointer;
    z-index: 2;
    color: #c7c4b8;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.scroll-down.svg svg {
    margin: 0 15px;
    width: 25px;
    opacity: 1;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s
}

a#top {
    z-index: 9999;
    position: relative;
}

.scroll-down span {
    color: rgba(119, 119, 119, 0.84);
    font-size: 17px;
    font-weight: 300
}

.scroll-down span:hover {
    color: #cc5084;
}

.scroll-down.svg .stroke {
    stroke: #b73b6c;
}

.scroll-down.svg .scroller {
    fill: #b73b6c;
    -webkit-animation: updown 1s infinite;
    -moz-animation: updown 1s infinite;
    -o-animation: updown 1s infinite;
    animation: updown 1s infinite;
}

@-webkit-keyframes updown {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    50% {
        -webkit-transform: translate(0, 5px);
        transform: translate(0, 5px)
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@-moz-keyframes updown {
    0% {
        -moz-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    50% {
        -moz-transform: translate(0, 5px);
        transform: translate(0, 5px)
    }
    100% {
        -moz-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@-o-keyframes updown {
    0% {
        -o-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    50% {
        -o-transform: translate(0, 5px);
        transform: translate(0, 5px)
    }
    100% {
        -o-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@keyframes updown {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    50% {
        -webkit-transform: translate(0, 5px);
        transform: translate(0, 5px)
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}


/* Index Toggle css */

#toggle {
   position: absolute;
    z-index: 999999;
    width: 2.1em;
    height: 2.85714em;
    cursor: pointer;
    right:25px;
}

#toggle span {
    display: block;
    position: absolute;
    width: 100%;
    height: 0.2em;
    margin: 1.25em 0 0 0;
    background: #000;
    -webkit-transition: 350ms ease all;
    -moz-transition: 350ms ease all;
    transition: 350ms ease all;
}

#toggle span:before,
#toggle span:after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 0.2em;
    background: #000;
    -webkit-transition: 350ms ease all;
    -moz-transition: 350ms ease all;
    transition: 350ms ease all;
}

#toggle span:before {
    margin: -8px 0 0 0;
}

#toggle span:after {
    margin: 8px 0 0 0;
}

#toggle.open span {
    background-color: transparent !important;
}

#toggle.open span:before,
#toggle.open span:after {
    margin: 0;
    background: #cc5084;
}

#toggle.open span:before {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    transform: rotate(135deg);
}

#toggle.open span:after {
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

#menu {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 99999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background: #000;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: 350ms ease all;
    -moz-transition: 350ms ease all;
    transition: 350ms ease all;
}

#menu.opened {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 350ms ease all;
    -moz-transition: 350ms ease all;
    transition: all 1s cubic-bezier(0.55, 0.09, 0.68, 0.53);

}

#menu span#title {
    display: block;
    font-size: 2.5em;
    color: #cc5084;
    line-height: 1.3em;
    margin: 8% 0 0.5em 0;
}

#menu ul {
    list-style: none;
    margin: 0 auto;
}

#menu ul li {
    display: block;
    width: 90%;
    height: auto;
    margin: 0 auto 1em auto;
}

#menu ul li:after {
    content: " ";
    position: absolute;
    width: 0%;
    height: 65px;
    margin: -65px 0 0 5%;
    left: 0;
    border-radius: 0.25em;
    -webkit-transition: 350ms ease all;
    -moz-transition: 350ms ease all;
    transition: 350ms ease all;
}

#menu ul li:hover:after {
    width: 90%;
}

#menu ul li a {
    line-height: 2em;
    position: relative;
    z-index: 4;
    display: block;
    width: 30%;
    height: auto;
    margin: 0 auto;
    font-weight: 300;
    color: #FFF;
    text-decoration: none;
    border-bottom: 0;
    -webkit-transition: 350ms ease all;
    -moz-transition: 350ms ease all;
    transition: 350ms ease all;
    font-size: 1.3em;
}

.border-none {
    border-bottom: none !important;
}

#menu ul li a:hover {
    color: #cc5084;
}

#menu ul li a span {
    font-size: 2.66667em;
}

#menu ul li a i {
    position: absolute;
    padding: 0 1.25em 0 0;
    font-size: 2em;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: inherit;
}


/* Home Page video css */

.carousel-inner .item {
    height: 300px !important;
}


/* Home Page Testimonials Carousel */

.text-center.margin-top-15 {
    margin-top: 140px;
}

#quote-carousel {
    padding: 15px 10px 45px 10px;
    margin-top: 30px;
}

#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}

#quote-carousel .carousel-control.left {
    right: 0;
    left: inherit;
}

#quote-carousel .carousel-control.right {
    right: 0px;
    width: 50px;
}

#quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}

#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    border: 4px solid #CCC;
    border-radius: 50px;
    opacity: 0.4;
    overflow: hidden;
    transition: all 0.4s;
}

#quote-carousel .carousel-indicators .active {
    background: #333333;
    width: 128px;
    height: 128px;
    border-radius: 100px;
    border-color: #f33;
    opacity: 1;
    overflow: hidden;
}

.carousel-inner {
    overflow: inherit !important;
}

.item blockquote {
    border-left: none;
    margin: 0;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}

.profil_main img {
    text-align: center;
}

.profil_main .col-sm-2 {
    width: 19.666667%;
}

.profil_main h3 {
    font-size: 1.5em;
    text-align: center;
    font-weight: 400;
    margin-top: 0px;
    padding-top: 0px;
}

.profil_main h3 span {
    font-size: 13px;
}

.wht_wedo_icon img {
    width: 50% !important;
    margin-bottom: 30px;
    margin: 0 0 20px 0;
}

.wht_wedo_icon p {
    width: 80% !important;
    text-align: center;
    margin: 0 auto;
    line-height: 28px;
    font-size: 1.2em;
}


/* Main Web Page Css */

header {
    width: 100%;
    float: left;
    padding: 10px 20px 0 20px;
    position:absolute;
}

.logo.pull-left {
    position: relative;
    z-index: 999;
}



.pdg-lft-rght-0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

..pdg-lft-0 {
    padding-left: 0px;
}

.pdg-lft-rght-0 {
    padding-right: 0px;
}



/* Banner css */


.home-banner {
    width: 100%;
    display:inline-block;  
}

.home-banner img {
    height: 100vh;
    width: 100%;
}

.home-bnr-tglne {
       position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    z-index: 1;
    text-align: center;
    width: 100%;
    font-weight: normal;
    color: #272727;
}


/* Section by section  css */

.section-two {
    background-color: #fff;
    display: inline-block;
    width: 100%;
    margin-top: 70px;
    margin-bottom:50px;
}

.section-two img {
    margin-top: 30px;
}

.section-two h3 {
    font-size: 28px;
    font-weight: 400;
    margin-top: 30px;
    line-height: 40px;
}

.section-two p {
      font-size: 16px;
    font-weight: normal;
    line-height: 28px;
    margin-bottom: 20px;
}

.read-more {
    color:#b1b1b1;
}

.a.read-more:hover {
    color:#582975 !important;
}



.section-two .h4-box {
     font-size: 28px;
    font-weight:normal;
    color: #2b2b2b;
    margin: 0px;
    text-transform: inherit;
    width: 100%;
    letter-spacing: inherit;
}

.section-two .h4-box hr {
    width: 12%;
    border-bottom: 3px solid #62367e;
    margin: 5px 0 30px 0;
}

.secton-bg {
    background-image: url(../images/section_main_bg.png);
    background-repeat: repeat-x;
    width:100%;
    background-position:top;
}


.section-four {
      padding:70px 0 50px 0;  
}

.h4-box {
text-align: center;

}

.h4-box hr {
    width:5%;
    border-bottom: 3px solid #61377d;
    margin: 7px auto;
}



a.hvr-shutter-in-vertical.nrml-style {
    text-decoration: none;
    color: #000;
    border: solid 1px #000;
    padding: 7px 20px;
    font-size: 1em;
}

a.hvr-shutter-in-vertical.nrml-style:hover {
    text-decoration: none;
    color: #fff;
    border: solid 1px #993366;
}

a.hvr-shutter-in-vertical.nrml-style:focus {
    color: #fff !important;
}

.featured-text h4 {
    font-size: 2.3em;
    color: #000;
    font-weight: 700;
    text-transform: none;
    padding-bottom: 5px;
    margin-left: -120px;
    background-color: #fff;
    padding: 10px 15px;
    margin-bottom: 25px;
    letter-spacing: 0px;
    line-height: 45px;
}

.featured-text p {
    color: #333;
    line-height: 32px;
    font-weight: normal;
    margin-bottom: 25px;
    font-size: 1.4em;
}

.explr-more {
    margin: 45px 0 20px 0;
}

.featured-sub-1 h4 {
    position: relative;
    top: 18px;
    font-size: 2.3em;
    left: 105px;
    background-color: #fff;
    z-index: 9;
    padding-right: 10px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0px;
}

.dnt-mnt-main h5 {
    line-height: 32px;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 30px;
}


/* Home Page what we do section css */

.whtwd_main {
    padding: 0px;
    margin-bottom: 30px;
    margin-top: 10px;
}

.whtwd_main img {
    width: 100%;
}

.whtwd_main .whtwd_sub {
    background-color: black;
    margin-bottom: 50px;
    width: 100%;
    float: left;
}



.margin-bottom-0 {
    margin-bottom: 0px !important;
}

.wt-clm-1,
.wt-clm-2,
.wt-clm-3 {
    padding: 0px !important;
    height: 530px;
}

.wt-clm-1,
.wt-clm-2,
.wt-clm-3 a {
    color: #fff !important;
}

.wt-clm-1 {
    background: url(../images/home-page-img/home_wtwedo.jpg) no-repeat;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.wt-clm-2 {
    background: url(../images/home-page-img/home_wtwedo_2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.wt-clm-3 {
    background: url(../images/home-page-img/home_wtwedo_3.jpg);
    background-size: 100% 100% 100%;
    background-repeat: no-repeat;
}

.dsk-top-rsp .hvr-shrink,
.dsk-top-rsp .hvr-shrink h3,
.dsk-top-rsp .hvr-shrink p {
    width: 100%;
    color: #fff;
}

.wt-clm-1-bg:hover {
    background-color: rgba(0, 0, 0, 0.75);
    cursor: pointer;
}

.wt-clm-1-bg a.hvr-shrink {
    color: #fff;
    text-decoration: none !important;
}

.dsk-top-rsp a.hvr-shrink {
    min-height: 220px;
}

.wt-clm-1-bg {
    background-color: rgba(0, 0, 0, 0.85);
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 20px 25px;
    color: #fff;
}

.p-transform {
    font-size: 15px !important;
    text-transform: uppercase;
}

.wt-clm-1 a.hvr-shrink {
    color: #fff !important;
    width: 100%;
    float: left;
}

.wt-clm-1 a.hvr-shrink:hover {
    text-decoration: none;
}

.wt-clm-1-bg h3 {
    font-weight: 600;
    margin-bottom: 40px;
    font-size: 2em;
}

.whtwd_main .button-p {
    position: absolute;
    bottom: 35px;
    margin: 0 30%;
}

.wt-clm-1-bg .p_margin_bottom {
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-left: 50px;
    padding-right: 50px;
    line-height: 2;
}

.wht_we_do_hr {
    width: 60px;
    border-bottom: 2px solid #ffd463;
    margin: 5px auto 30px auto;
}

.wt-clm-1-bg p {
    padding-bottom: 20px;
    font-size: 1.2em;
    font-weight: normal;
    margin-bottom: 0px;
}


/* Testimonials css */

.testimonials-carousel-main {
    background-color: #c02062;
    margin-top: 80px;
    min-height: 500px;
}

.padding-bottom-0 {
    padding-bottom: 0px;
}

.testimonials-carousel-main .carousel-inner {
    color: #fff;
}

.testimonials-carousel-main small {
    color: #fff;
    letter-spacing: 3px;
    font-weight: 300;
    font-size: 100%;
    margin: 20px 0;
    float: left;
    width: 100%;
}

.testimonials-carousel-main small img {
    width: 50px;
    height: 50px;
    background-color: #f5f5f5;
    border-radius: 100%;
    padding: 10px;
    margin-right: 5px;
}

.testimonials-carousel-main .carousel-control {
    color: #fff !important;
}

.testimonials-carousel-main p {
    color: #fff;
    font-weight: normal;
    font-size: 1.3em;
    line-height: 35px;
}



.testimonials-carousel-main h5 {
    font-weight: 300;
    font-size: 2em;
    line-height: 2;
}

.testimonials-carousel-main .h4-box {
    margin: 0 auto;
    color: #fff;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 3px;
    font-weight: 500;
    text-align: center;
    font-size: 1.1em;
    font-family: 'Ubuntu', sans-serif;
}


.testimonials-carousel-main .carousel-control {
    right: 0;
    /* bottom: 25px; */
    /* left: initial !important; */
    bottom: -9%;
    top: inherit;
}

.testimonials-carousel-main .carousel-control .fa-angle-left {
    font-size: 45px;
}

.testimonials-carousel-main .carousel-control .fa-angle-right {
    font-size: 45px;
}

.testimonials-carousel-main .h4-box hr {
    width: 30%;
    border-bottom: 3px solid #ffd463;
    margin: 7px auto 35px auto;
}


.talk-section-main {
    /*background-color: #eaeaea;*/
     background-color: #333;
    text-align: center;
    float: left;
    width: 100%;
}

.talk-section-main h2 {
        color: #fff;
    }


.talk-section-sub-pdding h2 {
    padding: 40px 0 !important;
}

.talk-section-main h2 em {
    float: left;
    padding-bottom: 3%;
    font-weight:normal;
    font-size:28px;
    font-style: inherit;
    text-align: center;
    width: 100%;
}

.talk-section-main h2 {
    padding: 50px 0px;
    margin: 0px !important;
    font-weight: 200;
    font-size: 2.5em;
}

.talk-section-main h2 span a {
    font-weight: 300;
    /* border-bottom: solid 2px #ffd463;*/
    color: #fff;
    font-size: 24px;
}

.talk-section-main.tech-and-dgtl h2 span a:hover {
    color: #ffd463;
}

.talk-section-main h2 span a:hover {
    color: #ffd463;
    border-bottom: none;
    text-decoration: none;
}

 /* */

.demopadding {
  text-align: center;
    display: inline-block;
}
.icon {
	position:relative;
	text-align:center;
	width:0px;
	height:0px;
	padding:18px;
	border-top-right-radius: 	20px;
	border-top-left-radius: 	20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 	20px; 
	-moz-border-radius: 		20px 20px 20px 20px;
	-webkit-border-radius: 		20px 20px 20px 20px;
	-khtml-border-radius: 		20px 20px 20px 20px; 	
	color:#FFFFFF;
}
.icon i {
	font-size:18px;
	position:absolute;
	left:7px;
	top:8px;
}
.icon.social {
	float:left;
	margin:0 5px 0 0;
	cursor:pointer;
    background: #aeaeae;
    color: #fff;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 	
}
.icon.social:hover {
	background:#2d2d2d ;
	color:#6d6e71;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
}
.icon.social.fb i {
	left:13px;
	top:10px;
}
.icon.social.tw i {
	left:11px;
}
.icon.social.in i {
	left:11px;
}


/* Home Pge slider css */

.section-one .carousel-indicators .active {
    width: auto;
    height: auto;
    margin: 0 10px 0 40px;
    background: none;
    color: #993366;
}

.carousel-indicators {
    bottom: 0px !important;
}


.section-one .carousel-indicators li {
    font-size: 20px;
    display: inline-block;
    width: auto;
    height: auto;
    margin: 0 10px 0 40px;
    text-indent: inherit;
    cursor: pointer;
    background: none;
    border: 0px solid #fff;
    border-radius: 0;
    color: #f5f5f5;
}


/* Onclick scroll Top css */

.scrollToTop {
    padding: 0 8px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    position: fixed;
    bottom: 75px;
    right: 0px;
    color: #fff;
    display: none;
    border-radius: 1px;
    background: #c02062;
    border: solid 0px rgba(137, 137, 137, 0.6);
}

.scrollToTop:hover {
    text-decoration: none;
    text-decoration: none;
    color: #fff;
}


/* Onclick scroll down */

.first {
    width: 100%;
    float: left;
}

.second {
    width: 100%;
    /* height:530px;*/
    float: left;
    margin-top: -50px;
    padding-top: 100px;
}

.bnr_btm_bdr {
    width: 100%;
    height: 5px;
    float: left;
    /* margin-top: 46px;*/
    position: absolute;
    outline: 0px !important;
    border: 0px !important;
    /*    bottom: -54px;*/
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#060040+11,4d3
    +25,8e4572+38,bf1e61+55,c83800+75,c83800+75,eaae37+94 */
    background: #060040;
    /* Old browsers */
    background: -moz-linear-gradient(left, #060040 11%, #4d3768 25%, #8e4572 38%, #bf1e61 55%, #c83800 75%, #c83800 75%, #eaae37 94%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #060040 11%, #4d3768 25%, #8e4572 38%, #bf1e61 55%, #c83800 75%, #c83800 75%, #eaae37 94%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #060040 11%, #4d3768 25%, #8e4572 38%, #bf1e61 55%, #c83800 75%, #c83800 75%, #eaae37 94%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#060040', endColorstr='#eaae37', GradientType=1);
    /* IE6-9 */
}


/* Footer css */

.wb-main-footer {
    padding-top: 45px;
    font-size: 16px;
    float: left;
    width: 100%;
}

.wb-main-footer h4 {
    margin-top: 0px;
    padding-top: 0px;
    font-weight:normal;
    margin-bottom: 20px;
    font-size:18px;
    color:#2d2d2d; 
}

.wb-main-footer a {
    color: #201914;
    text-decoration: none;
}

.wb-main-footer a:hover {
    color: #c53370;
    text-decoration: underline;
}
.ftr-clm-4 {
    padding-left:5% !important;
}


.ftr-clm-2 p,
.ftr-clm-3 p,
.ftr-clm-4 p {
    margin: 0 0 5px 0 !important;
}

.ftr-clm-1 p {
    margin-bottom: 10px !important;
}



.wb-main-footer .nav-tabs.nav-justified>.active>a,
.nav-tabs.nav-justified>.active>a:focus,
.nav-tabs.nav-justified>.active>a:hover {
    border: 0px solid #ddd !important;
    color: #2d2d2d;
    background: none !important;
}

.wb-main-footer .nav-tabs.nav-justified>li>a {
    padding: 0px;
    font-size:18px;
    text-align: left;
    background: none !important;
    border: 0px solid #ddd !important;
    color: #aeaeae;
}

.wb-main-footer .nav-justified>li {
    width: auto !important;
}

.wb-main-footer .nav.nav-tabs.nav-justified {
    margin-bottom: 20px;
}

.wb-main-footer .tab-content p {
    line-height: 30px;
    font-size: 15px;
}

.wb-main-footer .nav-justified>li:first-child {
    border-right: 2px solid rgba(204, 204, 204, 0.60);
    padding-right: 20px;
}

.wb-main-footer .nav-justified>li:last-child {
    padding-left: 20px;
}

.wb-main-footer .ftr-clm-1 img {
    margin-bottom: 10px;
}

.wht-we-do-btn a {
    border: solid 1px #fff;
    text-decoration: none;
    padding: 10px 15px;
}

.nrml-style:hover {
    text-decoration: none;
    background-color: #993366;
    color: #fff;
    border: solid 1px #993366;
}


/* Button css */

.hvr-bounce-to-right:before {
    background: rgba(255, 255, 255, 0) !important;
}

.hvr-bounce-to-right {
    background: rgba(153, 51, 102, 0) !important;
}

a.hvr-bounce-to-right {
    text-decoration: none;
    color: #fff;
    border: solid 1px #fff;
    padding: 7px 16px;
    font-size: 18px;
}

a.hvr-bounce-to-right:hover {
    background: #993366 !important;
    border: solid 1px #fff;
    text-decoration: none;
}

.img_boder {
    border: solid 1px rgba(238, 238, 238, 0.52);
}


/* Button css End */

.text-center.margin-top-15 {
    margin-top: 140px;
    margin-bottom: 60px;
}


/*Accordion Plus nd Minus css */

#strategy .panel-title {
    margin-top: 0;
    margin-bottom: 0 !important;
    font-size: 1.5em;
    color: inherit;
    padding-left: 5%;
}

#strategy .panel {
    box-shadow: 0 0px 0px rgba(0, 0, 0, .0)
}

#strategy .panel-title>a:before {
    float: right !important;
    font-family: FontAwesome;
    content: "\002d";
    padding-left: 5px;
    font-size: 26px;
    line-height: 20px;
}

#strategy .panel-title>a.collapsed:before {
    float: right !important;
    content: "\002b";
}

#strategy .panel-title>a:hover,
.panel-title>a:active,
.panel-title>a:focus {
    text-decoration: none;
}

#strategy .panel-sub {
    color: #333;
    background: none;
    border-bottom: solid 1px #ddd !important;
    padding: 10px 15px;
}

#strategy .panel-group .panel {
    margin-bottom: 0;
    border-radius: 0;
}

#strategy .panel-default {
    border: none;
}

/*
#strategy {
    margin-top: 60px;
}
*/

#strategy a.hvr-shutter-in-vertical.nrml-style {
    font-size: 18px;
}

#strategy .sectio-two-text p {
     display: table-cell;
    vertical-align: middle;
    padding: 0 30px;
}

#strategy .sectio-two-text {
    background-color: #333333;
    text-align: center;
    margin-left: -175px;
    min-height: 250px;
    margin-top: 60px;
    display: table;
}

#strategy h4 {
    margin-top: 90px;
}

#strategy,
#design,
#engineering,
#last-section {
    padding-bottom: 0px !important;
}


/*Design css*/

#design .panel-title {
    margin-top: 0;
    margin-bottom: 0 !important;
    font-size: 1.5em;
    color: inherit;
    padding-left: 5%;
}

#design .panel {
    box-shadow: 0 0px 0px rgba(0, 0, 0, .0)
}

#design .panel-title>a:before {
    float: right !important;
    font-family: FontAwesome;
    content: "\002d";
    padding-left: 5px;
    font-size: 26px;
    line-height: 20px;
}

#design .panel-title>a.collapsed:before {
    float: right !important;
    content: "\002b";
}

#design .panel-title>a:hover,
.panel-title>a:active,
.panel-title>a:focus {
    text-decoration: none;
}

#design .panel-sub {
    color: #333;
    background: none;
    border-bottom: solid 1px #ddd !important;
    padding: 10px 15px;
}

#design .panel-group .panel {
    margin-bottom: 0;
    border-radius: 0;
}

#design .panel-default {
    border: none;
}

#design a.hvr-shutter-in-vertical.nrml-style {
    font-size: 18px;
}

#design .sectio-two-text p {
     display: table-cell;
    vertical-align: middle;
    padding: 0 30px;
}

#design .sectio-two-text {
    background-color: #333333;
    text-align: center;
    margin-left: 0px;
    min-height: 250px;
    margin-top: 60px;
    margin-right: -175px;
    z-index: 99;
    position: relative;
    display:table;
}

#design h1 {
    line-height: 50px;
    margin-bottom: 50px;
    font-size: 32px;
}

#design h4 {
    margin-bottom: 35px;
    margin-top: 80px;
}


/* Engineering Css*/

#engineering .panel-title {
    margin-top: 0;
    margin-bottom: 0 !important;
    font-size: 1.5em;
    color: inherit;
    padding-left: 5%;
}

#engineering .panel {
    box-shadow: 0 0px 0px rgba(0, 0, 0, .0)
}

#engineering .panel-title>a:before {
    float: right !important;
    font-family: FontAwesome;
    content: "\002d";
    padding-left: 5px;
    font-size: 26px;
    line-height: 10px;
}

#engineering .panel-title>a.collapsed:before {
    float: right !important;
    content: "\002b";
}

#engineering .panel-title>a:hover,
.panel-title>a:active,
.panel-title>a:focus {
    text-decoration: none;
}

#engineering .panel-sub {
    color: #333;
    background: none;
    border-bottom: solid 1px #ddd !important;
    padding: 10px 15px;
}

#engineering .panel-group .panel {
    margin-bottom: 0;
    border-radius: 0;
}

#engineering .panel-default {
    border: none;
}

#engineering a.hvr-shutter-in-vertical.nrml-style {
    font-size: 18px;
}

#engineering .sectio-two-text p {
      display: table-cell;
    vertical-align: middle;
    padding: 0 30px;
}

#engineering .sectio-two-text {
    background-color: #333333;
    text-align: center;
    margin-left: -175px;
    min-height: 250px;
    margin-top: 60px;
    display:table;
    
}

#engineering h1 {
    line-height: 50px;
    margin-bottom: 50px;
    font-size: 32px;
}

#engineering h4 {
    margin-bottom: 35px;
    margin-top: 80px;
}


/*What we do page Last section css */

#last-section h5 {
    font-size: 1.5em;
    font-weight: 400;
    line-height: 36px;
}

#last-section .wht_wedo_icon img {
    width: 30% !important;
    margin-bottom: 0px;
    margin: 0 30% 10px 30%;
}

.lst-sb-link {
    background-color: #e9e9e9;
    margin: 0 0 50px 0;
    padding: 15px 0 !important;
}

.lst-sb-link-bg,
.lst-sb-link-bg-2 {
    background-color: #333;
    text-align: center;
    padding: 10px 0;
}

.lst-sb-link-bg a,
.lst-sb-link-bg-2 a {
    color: #fff;
    text-decoration: none !important;
}

.lst-sb-link-bg a span,
.lst-sb-link-bg-2 a span {
    font-weight: 600;
}

.lst-sb-link-bg a:hover,
.lst-sb-link-bg-2 a:hover {
    color: #ffd463;
    text-decoration: underline;
}

.lst-sb-link-bg h2,
.lst-sb-link-bg-2 h2 {
    font-weight: 300;
    font-size: 2.5em;
}


/*Inner page css*/


.hvr-txt {
    text-align: right !important;
}

div#ShowAll {
    float: left;
    width: 100%;
}

.ptflo_cse_stdy_mn {
    padding-top: 60px;
    padding-bottom: 100px;
}

.img_01 {
    width: initial !important;
    position: absolute;
    right: -50px;
}

.img_02 {
    width: initial !important;
    position: absolute;
    left: -50px !important;
}

.ptflo_cse_stdy_mn h3 {
    line-height: 32px;
}

.inner_banner_tagline {
    width: 25%;
    top: 20%;
    left: 38%;
    min-height: 200px;
    position: absolute;
    z-index: 999;
    text-align: center;
    color: #fff;
    background-color: rgba(199, 12, 88, 0.58);
}

.inr_bner_minsub {
    min-height: 250px;
}

.inner_banner_tagline h1 {
    margin-top: 50px;
    font-size: 38px;
    font-weight: 300;
}

.banner_sub_title {
    width: 100%;
    top: 30%;
    position: absolute;
    z-index: 999;
    padding: 35px;
    text-align: center;
    color: #fff;
    font-size: 22px;
    font-weight: 200;
}

.banner_sub_dfrt_page {
    position: absolute;
    top: 18%;
}

.banner_sub_dfrt_page h1 {
    font-size: 38px;
    font-weight: 300;
    margin-bottom: 20px;
}

.overlay-content h3 small {
    color: #fff !important;
    font-style: normal !important;
    display: block;
    font-size: 0.6666666667em;
    margin-top: 7px;
    line-height: 1.15em;
    font-weight: 600 !important;
}

.line-height {
    margin-bottom: 35px;
    line-height: 0px !important;
}

.header_sub {
    position: absolute;
}

.inner_banner img {
    width: 100%;
}

.abt_section h1 {
    line-height: 45px;
    font-weight: 600;
    margin-top: 0px;
    padding-top: 0px;
}

.abt_section h1 span {
    font-weight: 300;
}

.margin_btm {
    margin-bottom: 50px;
    float: left;
    width: 100%;
}

.margin_btm_sub {
    margin-bottom: 60px;
}

.abt_section img {
    width: 100%;
    min-height: inherit !important;
    max-height: inherit !important;
}

h1.margin-bottom-30 {
    margin-bottom: 5px;
    line-height: 48px;
}

.wht_we_offer_sctn {
    background-color: #c02062;
    padding: 45px 0px;
    text-align: center;
    margin-top: 100px;
}

.abt_accdtns_sectn {
    margin-top: 20px;
}

.abt_accdtns_sectn .h4-box {
    margin-bottom: 50px;
}

.abt_accdtns_sectn img {
    width: 30%;
}

.abt_accdtns_sectn img:first-child {
    margin-right: 150px;
}

#wht_we_do {
    /*
    line-height: 50px;
    font-weight: 500;
*/
}

#wht_we_do .panel-body p {
    font-size: 1.2em;
    padding-left: 5%;
}

.insights_main_text {
    background-color: #f0f0f0;
    float: left;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 20px;
}

.insights_margin {
    margin-bottom: 30px;
    /*
    float: left;
    width: 100%;
*/
}

.insights_main_text img {
    width: 100%;
}

.insights_main_text .sub_devision_one {
    background-color: #fff;
}

.insights_main_text .sub_devision_one h3 {
    line-height: 32px;
    float: left;
    width: 100%;
    margin-top: 30px;
}

.insights_main_text .sub_devision_one p {
    float: left;
    width: 100%;
}

.insights_main_text h1,
h2,
h3,
h4 {
    color: #333333;
    margin-bottom: 20px !important;
}

.insights_main_text p {
    font-size: 17px;
    padding-bottom: 0px;
    margin-bottom: 15px;
}

.insights_main_text small a {
    color: #000;
    text-decoration: none;
}

.insights_main_text small a:hover {
    color: #a42c53;
    text-decoration: underline;
}

.sub_dvn_one_right small a {
    color: #fff;
    text-decoration: none;
}

.insights_main_text .sub_devision_one .insights_link {
    position: absolute;
    z-index: 99;
    top: 15px;
    right: 15px;
    border: solid 1px #fff;
    padding: 5px 20px;
    font-size: 17px;
    font-style: initial;
}

.insights_link {
    color: #fff;
    text-decoration: none;
}

.sub_dvn_one_right {
    color: #fff;
}

.sub_dvn_one_bg {
    background-color: #333333;
    padding: 0 15px;
    display: inline-block;
    /* min-height: 413px !important;*/
}

.sub_dvn_two_bg {
    background-color: #fff;
    color: #333333;
    display: inline-block;
    padding: 0 15px;
}

.sub_dvn_two_bg a {
   color:#b1b1b1;
}

.sub_dvn_two_bg a:hover {
   color:#582975;
}




.sub_dvn_two_bg img {
    width: 104.3%;
}

.sub_dvn_two_bg p {
    float: left;
    width: 100%;
}

.sub_dvn_two_bg h3 {
    line-height: 28px;
    margin-top: 30px;
    float: left;
    width: 100%;
}

.sub_dvn_two_bg h3 span {
    font-size: 18px;
    color: #999;
    font-weight: 400;
}

.padding-right-0 {
    padding-right: 0px !important;
}

.padding-left-0 {
    padding-left: 0px !important;
}

.sub_dvn_one_right h3 {
 line-height: 32px;
      margin-top: 30px;
    margin-bottom: 20px !important;
    float: left;
    width: 100%;
    font-size: 18px;
}

.sub_dvn_one_right p {
    line-height: 26px;
    font-weight: normal;
    float: left;
    width: 100%;
}

.sub_dvn_two_bg small a {
    color: #333333;
    text-decoration: none;
}

.sub_dvn_two_bg .insights_link:hover {
    background-color: #a42c53;
}

.insights_link_two {
    border: solid 1px #333333;
    padding: 5px 20px;
    font-size: 17px;
    font-style: initial;
    float: right;
    margin: 15px 0 0 0;
}

.insights_link_two {
    color: #000;
    text-decoration: none;
}

.sub_dvn_one_bg .insights_link_two {
    border: solid 1px #fff;
    padding: 5px 20px;
    font-size: 17px;
    font-style: initial;
    float: right;
    margin: 15px 0 0 0;
}

.sub_dvn_one_bg .insights_link_two {
    color: #fff;
    text-decoration: none;
}

.color {
    color: #c84093;
}

.min-hiegt {
    min-height: 344px !important;
}

.insights_sub {}

.min-hiegt-2 {
    min-height: 382px !important;
}

.min-hiegt-3 {
    min-height: 303px !important;
}

.sectio-two-img .img-section-1 {
    height: 400px;
}

.sectio-two-img .img-section-2 {
    height: 405px;
}

.sectio-two-img .img-section-3 {
    height: 390px;
}

.wht_we_offer-top {
    padding-top: 30px;
    padding-bottom: 20px;
    float: left;
    width: 100%;
    margin-top: 0px;
}

.wb_view_more a {
    color: #000;
    text-decoration: underline;
}

.wb_view_more a:hover {
    color: #4d2566;
    text-decoration: none;
}


/*Latest Edits fr css*/

.p-padding-left {
    padding-left: 20px;
}

.min-hiegt-390 {
    min-height: 390px !important;
}

.min-hiegt-350 {
    min-height: 351px !important;
}

.min-hiegt-435 {
    min-height: 435px !important;
}

.sub_dvn_one_bg a {
    color: #fff;
    text-decoration: none;
}

.sub_dvn_one_bg a:hover {
    color: #fff;
    text-decoration: underline;
}

.hvr-grow {
    border: 1px solid #999;
    color: #000;
    padding: 10px 30px;
    /* padding: 10px 40px; */
    text-decoration: none !important;
    /* font-size: 1.3em;*/
}

.hvr-grow:hover {
    color: #4d2566;
}

 



/* Media queries css */

.padding-top-45.wb_view_more {
    margin-top: 35px;
    margin-bottom: 35px;
    font-size: 1.4em;
}

.img-section-1-xs,
.img-section-2-xs,
.img-section-3-xs {
    display: none;
}




/*kmr*/

.margin-top-80 {
    margin-top: 80px;
}

h1.font-size2em {
    font-size: 2em;
    line-height: 1.6;
    margin-bottom: 2.5em;
}

.colorwhite #toggle span {
    background: #fff;
}

.colorwhite #toggle span:before,
.colorwhite #toggle span:after {
    background: #fff;
}

button.hvr-sweep-to-right {
    background: none;
}

.contact-form {
    float: none !important;
    padding:30px 30px 25px 30px !important;
    background-color: #fff;
    margin-top:30px;
/*
-webkit-box-shadow: -2px 9px 20px -7px rgba(143,136,143,1);
-moz-box-shadow: -2px 9px 20px -7px rgba(143,136,143,1);
box-shadow: -2px 9px 20px -7px rgba(143,136,143,1);
*/
    
}



/* Main Navigation css */



nav.main-menu ul {
    list-style: none;
    float: right;
    margin-top: 14px;
}
   
nav.main-menu ul li {
   padding:10px; 
}

nav.main-menu ul li:last-child {
   padding-right:0px; 
}

nav.main-menu ul li a {
    padding: 5px 0;
    color: #000;
   font-size: 16px;
    display: block;
    text-decoration: none;
    transition: 0.6s;
}

nav.main-menu ul li a:hover,
nav.main-menu ul li a:focus {
    color: #4d2566;
    border-bottom: solid 2px #582975;
}

nav.main-menu ul li.active a {
    color: #4d2566;
}

nav.main-menu ul {
    list-style: none;
    float: right;
}

nav.main-menu ul li {
    float: left;
}


/* Fixed Nav css */

nav.menu {
    display: none;
}

nav.menu ul {
    list-style: none;
    float: right;
    margin-top: 14px;
}

#wrap {
    width: 100%;
    position: fixed;
    top: 0;
    display: none;
    padding: 5px 10px;
    background: #fff;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.07);
    z-index: 991;
    padding-left: 20px !important;
}

nav.menu ul li a {
    padding: 10px;
    color: #000;
    font-size:16px;
    display: block;
    text-decoration: none;
    transition: 0.6s;
}

nav.menu ul li a:hover,
nav.menu ul li a:focus {
    color: #4d2566;
}

nav.menu ul li.active a {
 color: #4d2566;
}

nav.menu ul {
    list-style: none;
    float: right;
}

nav.menu ul li {
    float: left;
}


/*kms*/

.wht_wedo_icon {
    text-align: center;
}

p.banner-text {
    font-size: 1.3em;
    margin-top: 20px;
    width: 80%;
    line-height: 2;
}

button.btn-defult {
    display: inline-block;
    width: 160px;
    background: #fff;
    border: 1px solid #ddd;
}

.title-sub {
    font-size: 1.6em;
    font-weight: 700;
    margin-top: 1.6em;
}

.bgcolorlightgray {
    background: rgb(245, 245, 245);
}



.padding-40px-0 {
    padding-top: 60px;
    padding-bottom: 30px;
}

.center-block {
    float: none;
}

.form-control {
    border: none !important;
    background: #ddd !important;
    padding: 10px 12px !important;
    height: auto !important;
    border-radius: 0 !important;
}

.codrops-top {
    position: absolute;
    z-index: 99;
}

.banner-main-digi img {
    width: 100%;
}

.banner-main-digi h1 {
    position: absolute;
    bottom: 30%;
    left: 20%;
    font-size: 5em;
    z-index: 1;
    color: #fff;
    width: 40%;
    font-weight: 700;
    line-height: 1.3;
}

.banner-main-tech img {
    float: right;
    margin-right: 5%;
}

.banner-main-tech h1 {
    position: absolute;
    top: 30%;
    left: 20%;
    font-size: 5em;
    z-index: 1;
    color: #fff;
    width: 40%;
    font-weight: 700;
    line-height: 1.3;
}

.banner-main-tech {
    height: auto;
    overflow: hidden;
    background: #212121;
}

span.linedonw {
    width: 2px;
    height: 278px;
    position: absolute;
    left: 49%;
    bottom: -22%;
    z-index: 99;
}


/* section 2 */

.section-2-services {
    min-height: 100vh;
    background: #fff;
    padding-top: 4%;
    position: relative;
}

.section-2-services p {
    font-size: 1.5em;
    line-height: 2;
    color: #fff;
}

.section-2-services p.font-size14 {
    font-size: 14px;
    margin-top: 20px;
    color: #333;
}

.icon-set {
    padding-top: 40px;
    padding-bottom: 40px;
}

.icon-set h3 {
    color: #666;
    font-size: 1.8em;
    letter-spacing: 0;
    margin-bottom:20px !important;
}


/* section 3 */

.section-3-services {
    height: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    background: #fff;
    position: relative;
}

.section-3-services h3 {
    color: #000;
    font-size: 1.2em;
}

.section-3-services p {
    color: #000;
    font-size: 1.3em;
    line-height: 2;
    margin-top: 20px;
}

.section-3-services .title {
    font-size: 1em;
    letter-spacing: 5px;
    color: #000;
    margin-bottom: 15px;
    padding-left: 150px;
    background: url(../images/title-line-left.png);
    background-repeat: no-repeat;
}


/* section 4 */

.section-4-services {
    height: 672px;
    padding-top: 80px;
    background: #fff;
    position: relative;
}

.section-4-services h3 {
    color: #000;
    font-size: 1.2em;
}

.section-4-services p {
    color: #000;
    font-size: 1.3em;
    line-height: 2;
    margin-top: 20px;
}

.section-4-services .title {
    font-size: 1em;
    letter-spacing: 5px;
    color: #000;
    margin-bottom: 15px;
    padding-left: 150px;
    background: url(../images/title-line-left.png);
    background-repeat: no-repeat;
}

.font-size14 {
    font-size: 14px !important;
}

.colorgray {
    color: #333 !important;
}

.btn-defult {
    border: 1px solid #666;
    padding: 10px 0px;
    margin-top: 15px;
    display: block;
    max-width: 160px;
    color: #fff;
    font-size: 1.3em;
    text-align: center;
    text-decoration: none !important;
    transition: 0.6s;
}

.btn-defult:hover,
.btn-defult:focus {
    background: #be2865;
    color: #fff;
    border: none;
}

.fadein {
    opacity: 0;
}

.imgtop1 {
    width: 250px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
}

.imgtop1 img,
.imgbttom2 img {
    width: 100%;
    transition: 0.5s;
}

.imgbttom2 {
    width: 250px;
    position: absolute;
    top: 180px;
    left: 0;
}

.padding-left-50 {
    padding-left: 50px !important;
}

.padding-right-50 {
    padding-right: 50px !important;
}

.footerlink {
    padding: 20px 15px;
    background: #be2865;
}

.footerlink span {
    font-size: 3em;
    color: #fff;
}

.footerlink a {
    color: #fff;
}

.footerlink a:hover {
    color: #fff;
}

h1.techtitle {
    top: inherit;
    left: 14% !important;
    bottom: 50%;
    margin-bottom: 15px;
}

p.subtext-tech {
    position: absolute;
    bottom: 33%;
    left: 14%;
    color: #fff;
    font-size: 1.2em;
    z-index: 99;
    width: 35%;
    line-height: 2;
}

h3.titleh3 {
    font-size: 2em;
    line-height: 1.5;
}

p.text {
    font-size: 1.2em;
    line-height: 2.2;
}

.section-2-mobile {
    padding: 75px 0;
}

.section-2-mobile h3.titleh3 {
    margin-top: 6%;
}

.section-3-newproductdev {
    background-color: #f9f9f9;
    padding: 75px 0;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 27%;
    height: auto;
}

.section-3-newproductdev p {
    color: #333;
}

.section-3-newproductdev h3.titleh3 {
    color: #000;
    margin-top: 0;
    margin-bottom: 50px;
}

.scroll-down2 {
    position: absolute;
    position: absolute;
    z-index: 99;
    bottom: 0%;
    left: 49%;
}

.section-4-iconset img.icon-1 {
    width: 17%;
}

.section-4-iconset img.icon-2 {
    width: 17%;
    margin-top: 50px;
}

.section-4-iconset img.icon-3 {
    width: 17%;
}

.section-4-iconset img.icon-4 {
    width: 17%;
    margin-top: 50px;
}

.section-4-iconset img {
    margin: 0 2%;
}

.font-size16 {
    font-size: 1.2em;
    line-height: 2;
}

.colorblack {
    color: #000;
}

.section-5-chalkboard {
    background: #333;
    background-size: 100%;
    padding: 50px 0
}

.colorwhite {
    color: #fff !important;
}

.section-6-sustenance {
    padding: 50px 15px;
}

.section-7-accoudion {
    background: #fff;
    padding: 50px 15px;
}

.section-7-accoudion .panel-heading {
    padding: 0;
    background: none !important;
    border: none !important;
}

.section-7-accoudion .panel-title a {
    padding: 10px;
    display: block;
    font-size: 1.5em;
    color: #333;
    border-bottom: 1px solid #eee;
    outline: none;
    text-decoration: none !important;
}

.section-7-accoudion .panel-group .panel {
    background: none;
    border: none;
}

.section-7-accoudion .panel-body {
    color: #333;
    line-height: 2.5;
    font-size: 1.2em;
    border: none !important;
}

.btn-grp-web-mobile {
    list-style: none;
    margin: 30px 0 40px 0;
    padding: 0;
    width: 100%;
    text-align: center;
    display: inline-block;
    padding-left: 30.5%;
}

.btn-grp-web-mobile a {
    float: left;
    font-size: 1.8em;
    margin-right: 30px;
    color: #000;
    text-decoration: none !important;
}

.btn-grp-web-mobile li {
    opacity: 0.3;
}

.btn-grp-web-mobile li.active {
    opacity: 1;
}

#Mobdev img {
    width: 80%;
    margin: 0 auto;
}


h3.top-title {
    font-size: 3em;
    letter-spacing: 4px;
    font-weight: 400;
    color: #be2764;
    margin: 25% 0 20px 0;
    line-height: 0;
}

h1.title-main {
    font-size: 3em;
    letter-spacing: 4px;
    font-weight: 400;
    color: #be2764;
    margin: 15% 0 20px 0;
    line-height: 0;
}

section.container {
    padding-top: 40px;
    padding-bottom: 40px;
}

h3.title {
    font-size: 2em;
    margin: 0 0 20px 0;
    line-height: 1.5em;
    font-weight: 700;
}

.h4-box {
    font-size: 28px;
    font-weight: normal;
    color: #2b2b2b;
    margin: 0 auto;
    text-transform: inherit;
    letter-spacing: inherit;
}

.section-bullets {
    background: #333;
    padding: 70px 0;
}

.section-bullets>div>div {
    color: #fff;
    font-size: 18px;
    padding-bottom: 40px;
    line-height: 1.7;
}

.section-bullets>div>div .fa {
    color: #b72666;
    margin-right: 10px;
}

.section-glb-loction {
    background: #333;
    padding: 70px 0;
}

.section-glb-loction h4.h4-box {
    color: #fff;
}

.section-glb-loction .container {
    background: url(../images/glb-bg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 300px;
}

.logo2.pull-left img {
    width: 180px;
}




/* contact us form */
#contact_form .input-group {
    float: left;
    padding: 0 15px;
}
#contact_form .input-group-addon {
    background: #fff !important;
    padding-right: 0px !important;
}
#contact_form .form-control {
    background: #fff !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-left: none !important;
    box-shadow: none;
}
#contact_form textarea#message {
    border-left: 1px solid #ccc !important;
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}
button.hvr-grow {
    background: #582975;
    color:#fff;
}

button.hvr-grow:hover {
    color:#fff;
}


/*portfolio css */


.gallry-sub-img {
    position: relative;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000ad;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.gallry-sub-img.hvr-float {
    display: inherit;
    display: inherit;
    -webkit-box-shadow: 0px 1px 5px 1px rgb(236, 230, 236);
    -moz-box-shadow: 0px 1px 5px 1px rgb(236, 230, 236);
    box-shadow: 0px 1px 5px 1px rgb(236, 230, 236);
    margin-bottom:25px;
}

.gallry-sub-img:hover .overlay  {
  height: 100%;
}



.gallry-sub-img.hvr-float:hover .overlay-sb-title {
  z-index:-1;
}

.gallry-sub-img:hover .overlay  {
  height: 100%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size:16px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


.overlay-sb-title {
    background-color: #fff;
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 25px 0;
    text-align: center;
}
