
/* Remove padding and margin */
*
{
    margin: 0;
    padding: 0;
    border: 0;
}*

body
    {
    font-family: 'Raleway', sans-serif !important;
    font-size:16px;
    margin:0px;
    padding:0px;
    overflow-x: hidden;
}

a:hover{
    transition: .8s;
    cursor:pointer;
}

/* Home Page Gallery css */

.demo-3 {
    position:relative;
    width:100%;
    max-height:300px;
    min-height:300px;
    overflow:hidden;
    float:left;
    margin:0px;
    padding: 0px;
}
.demo-3 img {
    width:100%;
    height:100%;
    overflow: hidden;
}

.demo-3 figure {
    margin:0;
    padding:0;
    position:relative;
    cursor:pointer;
    /* margin-left:-50px*/
}
.demo-3 figure img {
    display:block;
    position:relative;
    z-index:10;
    /*margin:-15px 0;*/
    margin:0px;
    max-height: 300px;
    min-height: 300px;
}
.demo-3 figure figcaption {
    display:block;
    position:absolute;
    z-index:5;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
.demo-3 figure h2 {
    font-family:'Lato';
    color:#fff;
    font-size:20px;
    text-align:left
}
.demo-3 figure p {
     display: block;
    font-size: 17px;
    line-height: 34px;
    font-weight: 200;
    margin: 0;
    color: #fff;
    text-align: center;
}

.demo-3 .figure-p-top {
     padding-top:8%;
}


.demo-3 figure figcaption {
    max-height: 300px;
    min-height: 300px;
    top:0;
    left:0;
    width:100%;
    height:100%;
    padding:29px 44px;
    text-align:center;
    backface-visibility:hidden;
    -webkit-transform:rotateY(-180deg);
    -moz-transform:rotateY(-180deg);
    transform:rotateY(-180deg);
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.demo-3 figure img {
    backface-visibility:hidden;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.demo-3 figure:hover img,figure.hover img {
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    transform:rotateY(180deg)
}
.demo-3 figure:hover figcaption,figure.hover figcaption {
    -webkit-transform:rotateY(0);
    -moz-transform:rotateY(0);
    transform:rotateY(0)
}

.figure_flip_1 {
    background-image: url(../images/home-page-img/home_img_01_flip.jpg);
    background-size: 100% 100%;
}

.figure_flip_2 {
    background-image: url(../images/home-page-img/home_img_02_flip.jpg);
    background-size: 100% 100%;
}

.figure_flip_3 {
    background-image: url(../images/home-page-img/home_img_03_flip.jpg);
    background-size: 100% 100%;
}

.figure_flip_4 {
background-image: url(../images/home-page-img/home_img_04_flip.jpg);
    background-size: 100% 100%;
}

.figure_flip_5 {
    background-image: url(../images/home-page-img/home_img_05_flip.jpg);
    background-size: 100% 100%;
}

.figure_flip_6 {
   background-image: url(../images/home-page-img/home_img_06_flip.jpg);
    background-size: 100% 100%;
}

.figure_flip_7 {
    background-image: url(../images/home-page-img/home_img_07_flip.jpg);
    background-size: 100% 100%;
}

.figure_flip_8 {
    background-image: url(../images/home-page-img/home_img_08_flip.jpg);
    background-size: 100% 100%;
}


.figure_flip_9 {
    background-image: url(../images/home-page-img/home_img_09_flip.jpg);
    background-size: 100% 100%;
}

.figure_flip_10 {
    background-image: url(../images/home-page-img/home_img_10_flip.jpg);
    background-size: 100% 100%;
}

.figure_flip_11 {
    background-image: url(../images/home-page-img/home_img_11_flip.jpg);
    background-size: 100% 100%;
}

.figure_flip_12 {
    background-image: url(../images/home-page-img/home_img_12_flip.jpg);
    background-size: 100% 100%;
}


/* Home down Arrow svg css */

svg {
  vertical-align: middle;
}
.scroll-down {
 margin: 0 auto;
/*
  position: absolute;
  left: 50%;
  margin-left: -20px;
*/
  bottom: 35px;
/*  padding-left: 7px;*/
  cursor: pointer;
  z-index: 2;
  color: #c7c4b8;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.scroll-down.svg svg {

    margin: 0 15px;
   width: 25px;
    opacity: 1;
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  -ms-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s
}

a#top {
    z-index: 9999;
    position:relative;
}

.scroll-down span {
     color: rgba(119, 119, 119, 0.84);
    font-size:17px;
    font-weight:300
}
.scroll-down span:hover {
    color:#cc5084;
}


.scroll-down.svg .stroke {
  stroke: #b73b6c;
}
.scroll-down.svg .scroller {
  fill: #b73b6c;
  -webkit-animation: updown 1s infinite;
  -moz-animation: updown 1s infinite;
  -o-animation: updown 1s infinite;
  animation: updown 1s infinite;
}

@-webkit-keyframes updown {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    50% {
        -webkit-transform: translate(0, 5px);
        transform: translate(0, 5px)
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}
@-moz-keyframes updown {
    0% {
        -moz-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    50% {
        -moz-transform: translate(0, 5px);
        transform: translate(0, 5px)
    }
    100% {
        -moz-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}
@-o-keyframes updown {
    0% {
        -o-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    50% {
        -o-transform: translate(0, 5px);
        transform: translate(0, 5px)
    }
    100% {
        -o-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}
@keyframes updown {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    50% {
        -webkit-transform: translate(0, 5px);
        transform: translate(0, 5px)
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}


/* Index Toggle css */

/*
#toggle {
    position: relative;
    z-index: 999999;
    width: 2.1em;
    height: 2.85714em;
    cursor: pointer;
    float: right;
    margin: 0 0 0 1%;
    float: right;
    padding: 4.2% 0;
    margin-top: 15px;
}
*/

#toggle {
    position: absolute;
    z-index: 999999;
    width: 2.1em;
    height: 2.85714em;
    cursor: pointer;
    float: right;
    margin: 0 0px 0px -10%;
    /* float: right; */
    /* padding: 4.2% 0; */
    margin-top: 9px;
}

#toggle span {
    display: block;
    position: absolute;
    width: 100%;
    height: 0.2em;
    margin: 1.25em 0 0 0;
    background: #000;
    -webkit-transition: 350ms ease all;
    -moz-transition: 350ms ease all;
    transition: 350ms ease all;
}

#toggle span:before,
#toggle span:after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 0.2em;
     background: #000;
    -webkit-transition: 350ms ease all;
    -moz-transition: 350ms ease all;
    transition: 350ms ease all;
}

#toggle span:before {
    margin: -8px 0 0 0;
}

#toggle span:after {
    margin: 8px 0 0 0;
}


#toggle.open span {
    background-color: transparent !important;
}

#toggle.open span:before,
#toggle.open span:after {
    margin: 0;
    background: #cc5084;
}

#toggle.open span:before {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    transform: rotate(135deg);
}

#toggle.open span:after {
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

#menu {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 99999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.9);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: 350ms ease all;
    -moz-transition: 350ms ease all;
    transition: 350ms ease all;
}

#menu.opened {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 350ms ease all;
    -moz-transition: 350ms ease all;
    transition: 350ms ease all;
}

#menu span#title {
    display: block;
    font-size: 3em;
    color: #cc5084;
    line-height: 1.3em;
    margin: 30px 0 0.5em 0;
}

#menu ul {
    list-style: none;
    margin: 0 auto;
}

#menu ul li {
    display: block;
    width: 90%;
    height: auto;
    margin: 0 auto 1em auto;
}

#menu ul li:after {
    content: " ";
    position: absolute;
    width: 0%;
    height: 65px;
    margin: -65px 0 0 5%;
    left: 0;
    border-radius: 0.25em;
    -webkit-transition: 350ms ease all;
    -moz-transition: 350ms ease all;
    transition: 350ms ease all;
}

#menu ul li:hover:after {
    width: 90%;
}

#menu ul li a {
    line-height: 2em;
    position: relative;
    z-index: 4;
    display: block;
    width: 30%;
    height: auto;
    margin: 0 auto;
    font-weight: 300;
    color: #FFF;
    text-decoration: none;
    border-bottom: 0;
    -webkit-transition: 350ms ease all;
    -moz-transition: 350ms ease all;
    transition: 350ms ease all;
    font-size: 1.2em;
}

.border-none {
    border-bottom: none !important;
}

#menu ul li a:hover {
    color: #cc5084;
}

#menu ul li a span {
    font-size: 2.66667em;
}

#menu ul li a i {
    position: absolute;
    padding: 0 1.25em 0 0;
    font-size: 2em;
}


.carousel-inner {
    position: relative;
    width: 100%;
    overflow: inherit;
}

/* Home Page video css */







.carousel-inner .item {
    height:300px !important;
}


/* Home Page Testimonials Carousel */


.text-center.margin-top-15 {
    margin-top: 140px;
}

#quote-carousel {
    padding: 15px 10px 45px 10px;
    margin-top: 30px;
    /* min-height: 564px;*/
    /* Control buttons  */
    /* Previous button  */
    /* Next button  */
    /* Changes the position of the indicators */
    /* Changes the color of the indicators */
}
#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
#quote-carousel .carousel-control.left {
    right: 0;
    left: inherit;
}
#quote-carousel .carousel-control.right {
    right: 0px;
    width: 50px;
}
#quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    border: 4px solid #CCC;
    border-radius: 50px;
    opacity: 0.4;
    overflow: hidden;
    transition: all 0.4s;
}
#quote-carousel .carousel-indicators .active {
    background: #333333;
    width: 128px;
    height: 128px;
    border-radius: 100px;
    border-color: #f33;
    opacity: 1;
    overflow: hidden;
}
.carousel-inner {

    overflow: inherit !important;
}
.item blockquote {
    border-left: none;
    margin: 0;
}
.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}

.profil_main img {
    text-align: center;
/*
    width:90%;
    margin:0 5%;
*/

}

.profil_main .col-sm-2 {
    width: 19.666667%;
}

.profil_main h3 {
    font-size: 1.5em;
    text-align: center;
    font-weight: 400;
    margin-top: 0px;
    padding-top: 0px;
}

.profil_main h3 span {
    font-size:13px;
}

.wht_wedo_icon img {
    width: 50% !important;
    margin-bottom: 30px;
    margin: 0 0 20px 0;
}

.wht_wedo_icon p{
   width:80% !important;
    text-align: center;
    margin: 0 auto;
    line-height: 28px;
    font-size: 1.2em;

}

/* Main Web Page Css */

 header { width:100%; float:left; padding:10px 20px 0 20px;}
.logo.pull-left { position: relative; z-index: 999;}

.home-gallery { width:100%; float:left; }
.padding-left-right-0 { padding-left:0px !important; padding-right:0px !important; }
.padding-left-0 { padding-left:0px; }
.padding-right-0 { padding-right:0px; }

.margin-bottom-15 { margin-bottom:20px;}

.margin-top-20 { margin-top:20px;}
.margin-top-15 { margin-top:15px;}
.margin-top-45 { margin-top:45px;}



.section-one {
/*
    background-image: url("../images/home-page-img/home_block_1bg.png");
    background-size:100% 100%;
    padding:0 20px 20px 20px;
*/
}

.section-two {
    /*padding:30px 20px 50px 20px;*/
    padding:30px 20px 0px 20px;
    background-color:#fff;
}

.section-two h3 {
    font-size: 28px;
    font-weight: 400;
    margin-top:30px;
    line-height:40px;
}

.section-two p {
    color: #666666;
    font-size: 1.4em;
    font-weight: 400;
    line-height: 32px;
    width: 80%;
    margin:3% auto 0 auto;
}

.section-two-img-main { margin-top:45px;}
.section_sub_margin { margin-top:75px;}
.sectio-two-img img { width:100%; }

.sectio-two-img .img-section {
    max-height: 350px;
}

.sectio-two-text {
    background-color:#333333;
    text-align:center;
    margin-left: -330px;
    min-height: 250px;
    margin-top:50px;
}
.sectio-two-text p {
    color: #fff;
    padding: 9% 45px 0 45px !important;
    /* padding:40px 45px 0 45px !important;*/
    font-size: 1.4em;
    font-weight: 300;
    line-height: 38px;
    text-align: left;
    width: 100%;
}

.section-four {
    padding:0px 20px 50px 20px;
    background-color:#fff;
}

.section-four h4 {
    font-size:1em;
    color: #000;
    font-weight:500;
    text-transform: uppercase;
    padding-bottom: 5px;
    letter-spacing:3px;
}


.h4-box {
    width: 300px;
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
}

.h4-box hr{
    width:18%;
    border-bottom: 3px solid #ffd463;
    margin:7px auto;
}


a.hvr-shutter-in-vertical.nrml-style {
    text-decoration: none;
    color: #000;
     border:solid 1px #000;
    padding: 7px 20px;
    font-size:1em;
}

a.hvr-shutter-in-vertical.nrml-style:hover {
    text-decoration: none;
    color: #fff;
    border:solid 1px #993366;
}

a.hvr-shutter-in-vertical.nrml-style:focus {
    color: #fff !important;
}

.featured-text h4 {
    font-size: 2.3em;
    color: #000;
    font-weight:700;
    text-transform:none;
    padding-bottom: 5px;
        margin-left: -120px;
    background-color: #fff;
    padding:10px 15px;
    margin-bottom:25px;
    letter-spacing:0px;
    line-height: 45px;
}

.featured-text p {
    color: #333;
    line-height: 32px;
    font-weight: normal;
    margin-bottom: 25px;
    font-size: 1.4em;
}

.explr-more {
   margin: 45px 0 20px 0;
}

.featured-sub-1 h4 {
    position: relative;
    top: 18px;
    font-size: 2.3em;
    left: 105px;
    background-color: #fff;
    z-index: 9;
    padding-right: 10px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0px;
}

.dnt-mnt-main h5 {
    line-height: 32px;
    font-size: 26px;
    font-weight: 600;
    margin-bottom:30px;
}

/* Home Page what we do section css */

.whtwd_main {
    padding: 0px;
    margin-bottom:30px;
    margin-top:10px;
}

.whtwd_main img {
    width:100%;
}

.whtwd_main .whtwd_sub {
    background-color: black;
    margin-bottom: 50px;
    width: 100%;
    float: left;
}

.whtwd_main h4 {
    margin-bottom: 20px;
    margin-top:60px;
    font-family: 'Ubuntu', sans-serif;
}

.margin-bottom-0 {
    margin-bottom:0px !important;
}


.wt-clm-1, .wt-clm-2, .wt-clm-3 { padding:0px !important;     height: 530px;}
.wt-clm-1, .wt-clm-2, .wt-clm-3  a { color: #fff !important; }

.wt-clm-1{
    background: url(../images/home-page-img/home_wtwedo.jpg) no-repeat;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.wt-clm-2{
    background: url(../images/home-page-img/home_wtwedo_2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.wt-clm-3{
    background: url(../images/home-page-img/home_wtwedo_3.jpg);
    background-size: 100% 100% 100%;
    background-repeat: no-repeat;
}

.dsk-top-rsp .hvr-shrink, .dsk-top-rsp .hvr-shrink h3, .dsk-top-rsp .hvr-shrink p {
    width: 100%;
    color: #fff;
}
.wt-clm-1-bg:hover {
    background-color: rgba(0, 0, 0, 0.75);
    cursor: pointer;
}
.wt-clm-1-bg a.hvr-shrink {
    color: #fff;
    text-decoration: none !important;
}
.dsk-top-rsp a.hvr-shrink {
    min-height: 220px;
}
.wt-clm-1-bg {
    background-color: rgba(0, 0, 0, 0.85);
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 20px 25px;
    color: #fff;
}

.p-transform {
    font-size: 15px !important;
    text-transform: uppercase;
}

.wt-clm-1 a.hvr-shrink {
    color: #fff !important;
    width: 100%;
    float: left;
}
.wt-clm-1 a.hvr-shrink:hover { text-decoration:none; }


.wt-clm-1-bg h3 {
    font-weight: 600;
    margin-bottom: 40px;
    font-size: 2em;
}

.whtwd_main .button-p {
    position: absolute;
    bottom: 35px;
    margin: 0 30%;

}

.wt-clm-1-bg .p_margin_bottom {
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-left: 50px;
    padding-right: 50px;
    line-height: 2;
}

.wht_we_do_hr {
    width: 18%;
    border-bottom: 2px solid #ffd463;
    margin: 5px auto 30px auto;
}


.wt-clm-1-bg p {
    padding-bottom:20px;
    font-size:1.2em;
    font-weight: normal;
    margin-bottom:0px;
}


/* Testimonials css */

.testimonials-carousel-main {
    background-color:#c02062;
    margin-top:80px;
    min-height: 500px;
}

.padding-bottom-0 {
   padding-bottom:0px;
}

.testimonials-carousel-main .carousel-inner {
    color: #fff;
}

.testimonials-carousel-main small {
    color: #fff;
    letter-spacing: 3px;
    font-weight: 300;
    font-size: 100%;
    /* margin: 20px 0 80px 0;*/
    margin:20px 0;
    float: left;
    width: 100%;
}


.testimonials-carousel-main small img {
    width: 50px;
    height: 50px;
    background-color: #f5f5f5;
    border-radius: 100%;
    padding: 10px;
    margin-right:5px;
}


.testimonials-carousel-main .carousel-control {
    color: #fff !important;
}

.testimonials-carousel-main  p {
    color: #fff;
    font-weight: normal;
    font-size: 1.3em;
    line-height: 35px;
}

.testimonials-carousel-main h5 {
    font-weight: 300;
    font-size: 2em;
    line-height: 2;
    /* margin-bottom: 20px; */
    /* margin-top: 35px; */
}

.testimonials-carousel-main .h4-box {
    margin: 0 auto;
    color: #fff;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 3px;
    font-weight: 500;
    text-align: center;
    font-size: 1.1em;
    font-family: 'Ubuntu', sans-serif;
}

/*
.testimonials-carousel-main .carousel-control {
    right: 0;
    bottom: 25px;
    left: initial !important;
    top: inherit;
}
*/





.testimonials-carousel-main .carousel-control {
    right: 0;
    /* bottom: 25px; */
    /* left: initial !important; */
    bottom: -9%;
    top: inherit;
}

.testimonials-carousel-main .carousel-control .fa-angle-left {
    font-size:45px;
}

.testimonials-carousel-main .carousel-control .fa-angle-right {
    font-size:45px;
}






.testimonials-carousel-main .h4-box hr {
    width: 30%;
    border-bottom: 3px solid #ffd463;
    margin: 7px auto 35px auto;

}

/*
.testimonials-carousel-main small:before {
    content: '\2014 \00A0';
}
*/


.talk-section-main {
 background-color: #eaeaea;
    text-align: center;
    float: left;
    width: 100%;
}

.talk-section-sub-pdding h2 {
    padding:40px 0 !important;
}


.talk-section-main h2 em
{
    float: left;
    padding-bottom: 3%;
    font-weight: 400;
    font-size: 0.6em;
    font-style: inherit;
    /* line-height: 4em; */
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}

.talk-section-main h2 {
    padding: 50px 0px;
    margin: 0px !important;
    font-weight: 200;
    font-size: 2.5em;
}

.talk-section-main h2 span a {
    font-weight: 300;
    border-bottom: solid 2px #ffd463;
    color: #000;
    font-size: 1em;
}

.talk-section-main h2 span a:hover {
    color: #993366;
    border-bottom:none;
    text-decoration:none;
}


/* Home Pge slider css */


.section-one .carousel-indicators .active {
     width:auto;
     height:auto;
    margin: 0 10px 0 40px;
    background:none;
    color:#993366;
}

.carousel-indicators {
    bottom: 0px !important;
}


/*
.section-one .carousel-indicators {
    bottom: -185px;
}
*/

.section-one .carousel-indicators li {
    font-size:20px;
    display: inline-block;
    width:auto;
    height:auto;
   margin: 0 10px 0 40px;
    text-indent:inherit;
    cursor: pointer;
    background:none;
    border: 0px solid #fff;
    border-radius: 0;
    color: #f5f5f5;
}

/* Onclick scroll Top css */

.scrollToTop {
    padding: 0 8px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    position: fixed;
    bottom: 75px;
    right:0px;
    color: #fff;
    display: none;
    border-radius: 1px;
    background: #c02062;
    border: solid 0px rgba(137, 137, 137, 0.6);
}
.scrollToTop:hover{

    text-decoration:none;

    text-decoration:none;

    color:#fff;
}


/* Onclick scroll down */

.first {
    width: 100%;
    /* min-height: 575px;*/
     float: left;
}

.second {
    width: 100%;
    /* height:530px;*/
    float: left;
    margin-top: -50px;
    padding-top: 100px;
}


.bnr_btm_bdr {
    width: 100%;
    height:5px;
    float: left;
    /* margin-top: 46px;*/
    position: absolute;
    outline:0px !important;
    border:0px !important;
/*    bottom: -54px;*/

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#060040+11,4d3768+25,8e4572+38,bf1e61+55,c83800+75,c83800+75,eaae37+94 */
    background: #060040; /* Old browsers */
    background: -moz-linear-gradient(left, #060040 11%, #4d3768 25%, #8e4572 38%, #bf1e61 55%, #c83800 75%, #c83800 75%, #eaae37 94%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #060040 11%,#4d3768 25%,#8e4572 38%,#bf1e61 55%,#c83800 75%,#c83800 75%,#eaae37 94%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #060040 11%,#4d3768 25%,#8e4572 38%,#bf1e61 55%,#c83800 75%,#c83800 75%,#eaae37 94%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#060040', endColorstr='#eaae37',GradientType=1 ); /* IE6-9 */

}

/* Footer css */

.wb-main-footer  {
     padding-top: 45px;
    font-size: 15px;
    float: left;
    width: 100%;
}

.wb-main-footer h4  {
    margin-top:0px;
    padding-top:0px;
    text-transform:uppercase;
    font-weight: 400;
    margin-bottom:20px;
    font-size: 1.4em;
}

.wb-main-footer a {
    color:#000;
    text-decoration:none;
}

.wb-main-footer a:hover {
    color:#c53370;
    text-decoration:underline;
}

.ftr-clm-1, .ftr-clm-2, .ftr-clm-3, .ftr-clm-4 {
    padding-left:50px !important;
    min-height: 250px !important;
}

 .ftr-clm-2 p, .ftr-clm-3 p, .ftr-clm-4 p {
  margin: 0 0 15px 0 !important;
}

.ftr-clm-1 p { margin-bottom:10px !important;}

.ftr-clm-1, .ftr-clm-2, .ftr-clm-3{
    border-right: 1px solid rgba(204, 204, 204, 0.37);
}

.wb-main-footer .nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
    border: 0px solid #ddd !important;
    color: #c53370;
    background:none !important;
}

.wb-main-footer .nav-tabs.nav-justified>li>a {
    padding:0px;
    font-size: 1.4em;
    text-align:left;
    background:none !important;
    border: 0px solid #ddd !important;
}

.wb-main-footer .nav-justified>li {
     width: auto !important;
}

.wb-main-footer .nav.nav-tabs.nav-justified { margin-bottom:20px; }

.wb-main-footer .tab-content p {
    line-height:30px;
    /*font-size: 15px;*/
    font-size: 96%;
}


.wb-main-footer .nav-justified>li:first-child {
     border-right: 2px solid rgba(204, 204, 204, 0.60);
    padding-right:20px;
}

.wb-main-footer .nav-justified>li:last-child {
     padding-left:20px;
}

.wb-main-footer .ftr-clm-1 img {
    width: 70%;
    margin-bottom:10px;
}

.wht-we-do-btn a {
    border:solid 1px #fff;
    text-decoration:none;
    padding:10px 15px;

}

.nrml-style:hover {
    text-decoration: none;
    background-color: #993366;
    color: #fff;
    border: solid 1px #993366;
}

/* Button css */

 .hvr-bounce-to-right:before {
    background: rgba(255, 255, 255, 0) !important;
}

 .hvr-bounce-to-right {
    background: rgba(153, 51, 102, 0) !important;
}

 a.hvr-bounce-to-right {
    text-decoration: none;
    color: #fff;
    border: solid 1px #fff;
    padding:7px 16px;
    font-size:18px;
}

a.hvr-bounce-to-right:hover {
    background:#993366 !important;
    border: solid 1px #fff;
    text-decoration:none;
}

.img_boder {
    border: solid 1px rgba(238, 238, 238, 0.52);
}


/* Button css End */

.text-center.margin-top-15 {
     margin-top:140px;
    margin-bottom: 60px;
}

/*Accordion Plus nd Minus css */

#strategy .panel-title {
    margin-top: 0;
    margin-bottom: 0 !important;
    font-size: 1.5em;
    color: inherit;
    padding-left: 5%;
}

#strategy .panel {
   box-shadow: 0 0px 0px rgba(0,0,0,.0)
}

#strategy .panel-title > a:before {
    float: right !important;
    font-family: FontAwesome;
    content:"\002d";
    padding-left: 5px;
    font-size: 26px;
    line-height: 20px;
}


#strategy .panel-title > a.collapsed:before {
    float: right !important;
    content:"\002b";
}

#strategy .panel-title > a:hover,
.panel-title > a:active,
.panel-title > a:focus  {
    text-decoration:none;
}

#strategy .panel-sub {
    color: #333;
    background: none;
    border-bottom: solid 1px #ddd !important;
    padding: 10px 15px;
}

#strategy .panel-group .panel {
    margin-bottom: 0;
    border-radius:0;
}

#strategy .panel-default {
    border:none;
}


#strategy {
    margin-top: 60px;
}

#strategy a.hvr-shutter-in-vertical.nrml-style {
    font-size: 18px;
}

#strategy .sectio-two-text p {
    padding: 60px 45px 0 45px !important;
}

#strategy .sectio-two-text {
    background-color: #333333;
    text-align: center;
    margin-left: -175px;
    min-height: 250px;
    margin-top: 60px;
}





#strategy h4 {
    margin-top: 60px;
}


#strategy, #design, #engineering, #last-section {
    padding-bottom:0px !important;
}


/*Design css*/

#design .panel-title {
    margin-top: 0;
    margin-bottom: 0 !important;
    font-size: 1.5em;
    color: inherit;
    padding-left: 5%;
}

#design .panel {
   box-shadow: 0 0px 0px rgba(0,0,0,.0)
}

#design .panel-title > a:before {
    float: right !important;
    font-family: FontAwesome;
    content:"\002d";
    padding-left: 5px;
    font-size: 26px;
    line-height: 20px;
}


#design .panel-title > a.collapsed:before {
    float: right !important;
    content:"\002b";
}

#design .panel-title > a:hover,
.panel-title > a:active,
.panel-title > a:focus  {
    text-decoration:none;
}

#design .panel-sub {
    color: #333;
    background: none;
    border-bottom: solid 1px #ddd !important;
    padding: 10px 15px;
}

#design .panel-group .panel {
    margin-bottom: 0;
    border-radius:0;
}

#design .panel-default {
    border:none;
}



#design a.hvr-shutter-in-vertical.nrml-style {
    font-size: 18px;
}

#design .sectio-two-text p {
    padding: 60px 45px 0 45px !important;
}

#design .sectio-two-text {
    background-color: #333333;
    text-align: center;
    margin-left: 0px;
    min-height: 250px;
    margin-top: 60px;
    margin-right: -175px;
    z-index: 999;
    position: relative;
}

#design h1 {
   line-height: 50px;
   margin-bottom: 50px;
   font-size: 32px;
}

#design h4 {
    margin-bottom:35px;
}



/* Engineering Css*/


#engineering .panel-title {
    margin-top: 0;
    margin-bottom: 0 !important;
    font-size: 1.5em;
    color: inherit;
    padding-left: 5%;
}

#engineering .panel {
   box-shadow: 0 0px 0px rgba(0,0,0,.0)
}

#engineering .panel-title > a:before {
    float: right !important;
    font-family: FontAwesome;
    content:"\002d";
    padding-left: 5px;
    font-size: 26px;
    line-height: 10px;
}


#engineering .panel-title > a.collapsed:before {
    float: right !important;
    content:"\002b";
}

#engineering .panel-title > a:hover,
.panel-title > a:active,
.panel-title > a:focus  {
    text-decoration:none;
}

#engineering .panel-sub {
    color: #333;
    background: none;
    border-bottom: solid 1px #ddd !important;
    padding: 10px 15px;
}

#engineering .panel-group .panel {
    margin-bottom: 0;
    border-radius:0;
}

#engineering .panel-default {
    border:none;
}

#engineering a.hvr-shutter-in-vertical.nrml-style {
    font-size: 18px;
}

#engineering .sectio-two-text p {
    padding: 60px 45px 0 45px !important;
}

#engineering .sectio-two-text {
    background-color: #333333;
    text-align: center;
    margin-left: -175px;
    min-height: 250px;
    margin-top: 60px;
}

#engineering h1 {
   line-height: 50px;
   margin-bottom: 50px;
   font-size: 32px;
}

#engineering h4 {
    margin-bottom: 35px;
}

/*What we do page Last section css */

#last-section h5 {
       font-size: 1.5em;
    font-weight: 400;
    line-height: 36px;
}

#last-section .wht_wedo_icon img {
    width: 30% !important;
    margin-bottom: 0px;
    margin: 0 30% 10px 30%;
}

.lst-sb-link {
    background-color:#e9e9e9;
    margin:0 0 50px 0;
    padding:15px 0 !important;
}

.lst-sb-link-bg, .lst-sb-link-bg-2 {
    background-color:#FFF;
    text-align: center;
    padding:30px 0;
}

.lst-sb-link-bg a, .lst-sb-link-bg-2 a {
    color:#000;
    text-decoration: none !important;
}

.lst-sb-link-bg a span, .lst-sb-link-bg-2 a span {
    font-weight: 600;
}

.lst-sb-link-bg a:hover, .lst-sb-link-bg-2 a:hover {
    color:#c02062;
    text-decoration:underline;
}

.lst-sb-link-bg h2, .lst-sb-link-bg-2 h2 {
    font-weight:300; font-size: 2.5em;
}


/*Inner page css*/

div#ShowAll {
    float: left;
    width: 100%;
}

.ptflo_cse_stdy_mn {
    padding-top: 60px;
    padding-bottom:100px;
}

 .img_01 {
    width: initial !important;
    position: absolute;
    right: -50px;
}

 .img_02 {
    width: initial !important;
    position: absolute;
    left: -50px !important;
}

.ptflo_cse_stdy_mn h3 {
    line-height: 32px;
}

.inner_banner_tagline {
    width: 25%;
    top:20%;
    left: 38%;
    min-height: 200px;
    position: absolute;
    z-index: 999;
    text-align: center;
    color: #fff;
    background-color: rgba(199, 12, 88, 0.58);
}

.inr_bner_minsub {
    min-height:250px;

}

.inner_banner_tagline  h1 {
    margin-top: 50px;
    font-size: 38px;
    font-weight:300;
}


.banner_sub_title {
   width: 100%;
    top:30%;
    position: absolute;
    z-index: 999;
    padding: 35px;
    text-align: center;
    color: #fff;
    font-size: 22px;
    font-weight: 200;
}

.banner_sub_dfrt_page {
    position: absolute;
    top: 18%;
}

.banner_sub_dfrt_page h1 {
    font-size:38px;
    font-weight:300;
    margin-bottom:20px;
}

.overlay-content h3 small  {
    color: #fff !important;
    font-style: normal !important;
    display: block;
    font-size: 0.6666666667em;
    margin-top: 7px;
    line-height: 1.15em;
    font-weight: 600 !important;
}

.line-height {
    margin-bottom: 35px;
    line-height: 0px !important;
}

.header_sub {
    position: absolute;
}


.inner_banner img {
    width:100%;
}

.abt_section h1 {
    line-height:45px;
    font-weight: 600;
    margin-top:0px;
    padding-top:0px;
}

.abt_section h1 span {
    font-weight: 300;
}


.margin_btm {
    margin-bottom: 50px;
    float: left;
    width: 100%;
}

.margin_btm_sub {
    margin-bottom:60px;
}


.abt_section img {
    width:100%;
    min-height:inherit !important;
    max-height:inherit !important;
}

h1.margin-bottom-30 {
    margin-bottom:5px;
    line-height: 48px;
}


.wht_we_offer_sctn {
    background-color:#c02062;
    padding:45px 0px;
    text-align: center;
    margin-top:100px;
}

.abt_accdtns_sectn {
    margin-top:20px;
}

.abt_accdtns_sectn .h4-box{
    margin-bottom:50px;
}

.abt_accdtns_sectn img {
      width: 30%;
}

.abt_accdtns_sectn img:first-child {
     margin-right:150px;
}

#wht_we_do {
/*
    line-height: 50px;
    font-weight: 500;
*/
}

#wht_we_do .panel-body p {
    font-size: 1.2em;
    padding-left:5%;
}



.insights_main_text {
   background-color: #f0f0f0;
    float: left;
    width:100%;
    padding-top:40px;
    padding-bottom:20px;
}

.insights_margin {
    margin-bottom: 30px;
/*
    float: left;
    width: 100%;
*/

}

.insights_main_text img {
    width: 100%;
}


.insights_main_text .sub_devision_one {
   background-color: #fff;

}

.insights_main_text .sub_devision_one h3 {
    line-height: 32px;
    float:left;
    width:100%;
    margin-top: 30px;
}

.insights_main_text .sub_devision_one p {
    float:left;
    width:100%;
}



.insights_main_text h1, h2, h3, h4 {
  color:#333333;
  margin-bottom:20px !important;
}

.insights_main_text p {
  font-size:17px;
  padding-bottom:0px;
  margin-bottom:15px;
}

.insights_main_text small a {
    color: #000;
    text-decoration:none;
}

.insights_main_text small a:hover {
    color: #a42c53;
    text-decoration: underline;
}

.sub_dvn_one_right small a {
    color: #fff;
    text-decoration:none;
}


.insights_main_text .sub_devision_one .insights_link {
    position: absolute;
    z-index: 99;
    top: 15px;
    right: 15px;
    border: solid 1px #fff;
    padding: 5px 20px;
    font-size: 17px;
    font-style: initial;
}

.insights_link  {
  color:#fff;
  text-decoration:none;
}




.sub_dvn_one_right {
    color:#fff;
}

.sub_dvn_one_bg {
   background-color:#333333;
   padding: 0 15px;
   display: inline-block;
  /* min-height: 413px !important;*/
}

.sub_dvn_two_bg {
    background-color:#fff;
    color:#333333;
    display: inline-block;
    padding: 0 15px;
}

.sub_dvn_two_bg p {
    float: left;
    width: 100%;

}

.sub_dvn_two_bg h3 {
    line-height: 28px;
    margin-top: 30px;
    float: left;
    width: 100%;
}

.sub_dvn_two_bg h3 span {
    font-size: 18px;
    color: #999;
    font-weight: 400;
}

.padding-right-0 {
    padding-right:0px !important;
}

.padding-left-0 {
    padding-left:0px !important;
}



.sub_dvn_one_right h3 {
    line-height: 32px;
    margin-top: 20px;
    margin-bottom: 15px !important;
    float: left;
    width: 100%;
}



.sub_dvn_one_right p {
    line-height: 26px;
    font-weight: normal;
    float:left;
    width:100%;
}

.sub_dvn_two_bg small a {
    color: #333333;
    text-decoration: none;
}

.sub_dvn_two_bg .insights_link:hover {
    background-color: #a42c53;
}

.insights_link_two {
    border: solid 1px #333333;
    padding: 5px 20px;
    font-size: 17px;
    font-style: initial;
    float: right;
    margin:15px 0 0 0;
}

.insights_link_two {
    color:#000;
    text-decoration:none;
}


.sub_dvn_one_bg .insights_link_two {
    border: solid 1px #fff;
    padding: 5px 20px;
    font-size: 17px;
    font-style: initial;
    float: right;
    margin:15px 0 0 0;
}

.sub_dvn_one_bg .insights_link_two {
    color:#fff;
    text-decoration:none;
}

.color {
    color:#c84093;
}

.min-hiegt {
   min-height: 344px !important;
}

.insights_sub {

}

.min-hiegt-2 {
    min-height: 382px !important;
}

.min-hiegt-3 {
    min-height:303px !important;
}



.sectio-two-img .img-section-1 {
    height: 400px;
}

.sectio-two-img .img-section-2 {
  height: 405px;
}

 .sectio-two-img .img-section-3 {
       height: 390px;
}


.wht_we_offer-top {
    padding-top: 30px;
    padding-bottom: 20px;
    float:left;
    width:100%;
    margin-top:0px;
}

.wb_view_more a{
    color:#000;
    text-decoration:underline;
}

.wb_view_more a:hover{
    color:#780c38;
    text-decoration:none;
}

/*Latest Edits fr css*/

.p-padding-left {
    padding-left:20px;
}

.min-hiegt-390 {
    min-height: 390px !important;
}
.min-hiegt-350 {
    min-height: 351px !important;
}

.min-hiegt-435 {
    min-height: 435px !important;
}

.sub_dvn_one_bg a {
    color:#fff;
    text-decoration:none;
}

.sub_dvn_one_bg a:hover {
    color:#fff;
    text-decoration:underline;

}

.hvr-grow {
    border: 1px solid #999;
    color: #000;
    padding: 10px 30px;
    /* padding: 10px 40px; */
    text-decoration: none !important;
    /* font-size: 1.3em;*/
}

.hvr-grow:hover {
  color: #000;
}


/* Media queries css */



.padding-top-45.wb_view_more {
    margin-top: 35px;
    margin-bottom: 35px;
    font-size: 1.4em;
}

 .img-section-1-xs, .img-section-2-xs, .img-section-3-xs {
        display:none;
}


/* About us Media css */

@media (max-width: 1920px) and (min-width:1920px) {

}



@media (max-width:1440px) and (min-width:1023px) {

    #strategy {
        margin-top:0px;
    }



   .banner-abt {
        padding-bottom: 15%;
        height: inherit !important;
    }

    .banner-srv {
     padding-bottom: 10%;
     height: inherit !important;
    }

    .banner-prf{
        padding-bottom: 15%;
        height: inherit !important;
    }
    .banner-contactus {
       padding-bottom: 15%;
            height: inherit !important;
    }

    .banner-ins {
      padding-bottom: 15%;
      height: inherit !important;
    }



}

/* About us Media css */

@media (max-width: 1680px) and (min-width:100px) {
    .banner-rocknshop, .banner-acc, .banner-talant, .banner-flyrt, .banner-sepalika, .banner-cb, .banner-prime, .banner-cult, .banner-zoffio, .banner-esi, .banner-buttercups, .banner-reality, .banner-Launcher, .banner-hot, .banner-taxi {
        height: inherit !important;
        padding-bottom: 5%;
    }

  span.iconset-detail {
    bottom: 15% !important;
}

}

@media (max-width: 1280px) and (min-width:779px) {

       #pastwork h2.title {
    font-size: 2em  !important;
    line-height: 1.6;
    color: #333;
    margin-top: 30px  !important;
}

    #strategy h1 {
        font-size: 2.3em;
    }


    .wt-clm-1, .wt-clm-2, .wt-clm-3 {
        height: 495px;
    }



    .wt-clm-1-bg h3 {
        margin-top: 10px;
    }

    .wt-clm-1-bg p {
        padding-bottom: 15px;
    }

    .whtwd_main .button-p {
        bottom: 15px;
    }

    .wt-clm-1-bg {
        padding: 20px 10px;
    }

}



@media (max-width: 1024px) and (min-width:1024px) {

    .wt-clm-1.wt-clm-1-1 {
        height: 495px;
    }
    .wt-clm-2.wt-clm-2-2 {
         height: 495px;
    }


    #strategy .sectio-two-text, #design .sectio-two-text, #engineering .sectio-two-text {
        margin-top: 25px;
    }

   /* About us Media css */

    .banner-abt {
        padding-bottom: 10%;
        height: inherit !important;
    }

    .banner-srv {
     padding-bottom: 10%;
     height: inherit !important;
    }

    .banner-prf{
        padding-bottom: 10%;
        height: inherit !important;
    }
    .banner-contactus {
       padding-bottom: 10%;
            height: inherit !important;
    }

    .banner-ins {
      padding-bottom: 10%;
      height: inherit !important;
    }


  /* About us Media css */

    .testimonials-carousel-main h5 {
        font-size: 1.4em;
        line-height: 30px;
     }


/*
    .sectio-two-text p {
        padding: 40px 45px 40px 45px!important;
        line-height: 36px;
     }
*/

    .testimonials-carousel-main p {
        font-size: 1.2em;
        line-height: 24px;
    }

    .sectio-two-img .img-section-1, .img-section-2, .img-section-3  {
        height:100% !important;
    }

    a.hvr-bounce-to-right {
        padding: 7px 10px;
        font-size: 16px;
        font-size: 14px !important;
    }

    .sectio-two-text {
        margin-top: 30px;
        min-height: 230px;
    }

    .wt-clm-1-bg p {
        padding-bottom:6px;
        font-size: 1.1em;
    }

    .p-transform {
        font-size: 0.9em !important;
        text-transform: uppercase;
    }

    a.hvr-bounce-to-right {
        padding: 7px 10px;
        font-size: 16px;
    }

    .sectio-two-text p {
        font-size: 1.3em;
    }

    .section-two p {
        font-size: 1.3em;
    }

    .whtwd_main .button-p {
        bottom: 15px;
        margin: 0 30%;
    }

    .wht_we_do_hr {
        margin: 5px auto 15px auto;
    }

    .wt-clm-1-bg h3 {
        padding-top: 0px;
        margin-top: 0px;
        font-size:1.6em;
    }
/*

    #quote-carousel {
        padding: 15px 10px 0px 10px;
        margin-top: 30px;
    }
*/

    .featured-text p {
          font-size: 1.3em;
          line-height: 1.6em;
    }

    .ftr-clm-1, .ftr-clm-2, .ftr-clm-3, .ftr-clm-4 {
        padding-left: 20px!important;
        min-height: 225px!important;
    }

    .featured-sub-1 h4 {
        font-size: 2em;
    }

    .featured-text h4 {
        font-size: 2em;
    }


    .wb-main-footer .nav-tabs.nav-justified>li>a {
        font-size: 1em;
    }

    .wb-main-footer h4 {
        font-size: 1em;
    }

}


@media (max-width:1024px) and (min-width:100px) {


    #quote-carousel .carousel-control {
        top: 0px;
    }


    .carousel-inner .item {
        height:inherit !important;
    }

    #quote-carousel {
        padding: 15px 10px 30px 10px !important;
        margin-top: 30px;
        min-height: inherit;
    }

    .testimonials-carousel-main small {
        margin:0 0 25px 0;
        float: left;
        width: 100%;
        text-align: center;
    }

    .testimonials-carousel-main h5 {
        text-align: center;
    }

    .testimonials-carousel-main p {
        text-align: center;
    }

    .min-hiegt {
        min-height:inherit !important;
    }

    .insights_main_text .padding-xs-none {
        padding: 0px !important;
    }

      .insights_main_text .padding-xs-none-left-right {
        padding-left:15px !important;
        padding-right:15px !important;
    }

    .min-hiegt-2 {
        min-height:inherit !important;
    }

}


@media (max-width:800px) and (min-width:559px) {



/*   About us Media css */

      .abt_accdtns_sectn img:first-child {
        margin-right:50px;
    }

     .banner-abt {
        padding-bottom: 10%;
        height: inherit !important;
    }


    .banner-srv {
     padding-bottom: 10%;
     height: inherit !important;
    }

    .banner-prf{
        padding-bottom: 10%;
        height: inherit !important;
    }
    .banner-contactus {
       padding-bottom: 10%;
            height: inherit !important;
    }

    .banner-ins {
      padding-bottom: 10%;
      height: inherit !important;
    }


  .profil_main h3 {
        font-size: 1.3em !important;
    }

/*   About us Media css */

/*
 .sectio-two-text p {
    padding: 20px 20px 0 20px!important;
    font-size: 1.2em;
    line-height: 30px;
  }
*/

 .sectio-two-text {
    min-height: 165px !important;
    margin-top: 28px !important;
}


.ftr-clm-1, .ftr-clm-2, .ftr-clm-3, .ftr-clm-4 {
        padding-left: 20px!important;
        min-height: 225px!important;
 }


.featured-sub-1 h4 {
        font-size: 2em !important;
    }

    .featured-text h4 {
        font-size: 2em !important;
    }


    .wb-main-footer .nav-tabs.nav-justified>li>a {
        font-size: 1em !important;
    }

    .wb-main-footer h4 {
        font-size: 1em !important;
    }


     .testimonials-carousel-main p {
        font-size: 1.2em;
        line-height: 24px;
    }

    .sectio-two-img .img-section-1, .img-section-2, .img-section-3  {
        height:100% !important;
    }


      .section-two-img-main {
            margin-top: 10px !important;
        }

        .section-four {
            padding: 0px 20px 20px 20px !important;
        }

        .explr-more {
            margin:0px 0 20px 0 !important;
        }

    .section-two-img-main {
            margin-top:10px !important;
    }

    .wt-clm-1-bg .p_margin_bottom {
            padding-left:0px !important;
            padding-right:0px  !important;
            line-height: 22px !important;
            font-size: 17px !important;
    }

    .wt-clm-1-bg h3 {
        margin-top: 0px !important;
        font-size: 1.5em!important;
    }

     .wt-clm-1-bg  {
            padding: 10px 25px !important;
    }



    .whtwd_main .button-p {
            bottom: 10px !important;
            margin: 0 15% !important;
    }

    .wt-clm-1-bg a.hvr-bounce-to-right {
        font-size: 14px !important;
    }

    .wt-clm-1-bg p {
    padding-bottom: 2px !important;
    font-size: 12px !important;
    }

    .p-transform {
        font-size: 12px!important;
    }

/*
    .sectio-two-text p {
        padding: 25px!important;
        font-size: 1.2em;
    }
*/

    #strategy p {
     font-size: 1.2em !important;
     text-align: center !important;
    }

}



@media (max-width:768px) and (min-width:100px) {

    .wt-clm-1-1 .dsk-top-rsp a.hvr-shrink {
        min-height: 150px !important;
    }

     .wt-clm-2-2 .dsk-top-rsp a.hvr-shrink {
        min-height: 150px !important;
    }

    .wt-clm-1-1 h3, .wt-clm-2-2 h3 {
        margin-top: 30px !important;

    }


    .wt-clm-1-1 a.hvr-shrink {
        min-height: auto;
    }

    .wt-clm-2-2 a.hvr-shrink {
        min-height: auto;
    }

    .wt-clm-1.wt-clm-1-1 {
        height:360px;
    }
    .wt-clm-2.wt-clm-2-2 {
         height:360px;
    }

    #baner-main-div {
        height: 50vh !important;
    }

    #baner-main-div .wrapper {
         height: 50vh !important;
         min-height:inherit;
    }

    .sectio-two-text p {
        padding: 4% 45px 0 45px !important;
        line-height: 28px;
    }

    .project-items {
        width: 100%;
        margin:50px 0 0 0 !important;
    }


      .img_01, .img_02 {
        width:100% !important;
        position: inherit !important;
        right: inherit !important;
    }

    .img_01, .img_02 {
        width:100% !important;
    }

    .section-four.ptflo_cse_stdy_mn {
        padding-top: 42px !important;
    }



   #design .sectio-two-text p, #engineering .sectio-two-text p {

        padding:23px 45px 0 45px !important;
 }


    #strategy .sectio-two-text p {

         padding:35px 45px 0 45px !important;

    }

    h3.top-title {
        margin: 18% 0 20px 0 !important;
    }

    #strategy {
     margin-top:0px;
    }

}


@media (max-width:767px) and (min-width:100px) {


    .wt-clm-1.wt-clm-1-1 {
        height:560px !important;
    }
    .wt-clm-2.wt-clm-2-2 {
         height:560px !important;
    }

    .banner-rocknshop, .banner-acc, .banner-talant, .banner-flyrt, .banner-sepalika, .banner-cb, .banner-prime, .banner-cult, .banner-zoffio, .banner-esi, .banner-buttercups, .banner-reality, .banner-Launcher, .banner-hot, .banner-taxi {
    padding-bottom: 30%;

}

section.container {
    padding-top: 10px !important;
}

    #wht_we_do .panel-body p {
    text-align: left !important;
}

    #design .sectio-two-text p, #engineering .sectio-two-text p {
    padding: 23px 45px 0 45px !important;
    text-align: center;
}

    #last-section h5 {
    text-align: center;
}
    #strategy p {
    text-align: center !important;
    font-size: 1.2em !important;
    }

    .featured-text p {
        margin-bottom: 25px;
        float: left;
        width: 100%;
    }

    .wt-clm-1-bg p {
        margin-bottom:8px !important;
    }

    #toggle {
        position: absolute;
        margin: 0 0px 0px -6%;
        margin-top: 15px;
    }

    .wt-clm-1-bg p {
    padding-bottom: 8px;
    font-size: 1.4em;
    }

    .wt-clm-1, .wt-clm-2, .wt-clm-3 {
     height:inherit !important;
}

    #baner-main-div {
        height: 50vh !important;
    }

    .wrapper {
        height: 50vh !important;
        min-height: inherit !important;
    }

       .sub-nav .active a {
        background-color: #000;
    }


    .margin-top-80 {
        margin-top: 30px !important;
    }

    #quote-carousel .carousel-control {
    top: 0px;
    right: 0;
    left: initial;
    width: 30%;
    margin-top: 0px;
}

    .ptflo_cse_stdy_mn .section-two-img-main.margin_btm {
        margin-bottom:30px;
    }

    .ptflo_cse_stdy_mn h1 {
        text-align:center;
    }

     .img_01, .img_02 {
        width:100% !important;
        position: inherit !important;
        right: inherit !important;
    }

    .line-height {
        text-align: center;
    }

    p.banner-text {
        width: 100%;
    }



    #design, #engineering, #last-section {
        padding-bottom: 0px !important;
        margin-top: 30px;
    }

     #strategy .sectio-two-text, #design .sectio-two-text, #engineering .sectio-two-text {
         margin: 0;
         padding-bottom: 25px;
         min-height:inherit !important;
         margin-top:0px !important;
         margin-bottom: 10px;
    }

    #design .panel-title, #strategy .panel-title, #engineering .panel-title {
        padding-left: 0%;
        font-size: 1.4em;
    }

      #strategy h1 {
        line-height: 1.5em !important;
        margin-bottom: 25px !important;
        font-size: 1.8em !important;
        text-align: center;
    }

   .lst-sb-link-bg-2 {
        margin-top: 20px;
    }

    .margin_btm {
        margin-bottom:0px;
    }

    .img-section-1-xs, .img-section-2-xs, .img-section-3-xs {
        display:block;
        width: 100%;
        margin-bottom:0px;
    }

    .img-section-1 {display:none;}
    .img-section-2 {display:none;}
    .img-section-3 {display:none;}

    .abt_accdtns_sectn {
        margin-top: 40px;
        margin-bottom:40px;
    }

    .profil_main h3 {
        font-size: 1.5em !important;
    }

}


@media (max-width:600px) and (min-width:500px) {


    /* ineer paage css */

    .wb-main-footer .nav-justified>li:last-child {
        padding-left: 0px;
    }

    .wb-main-footer .nav-justified>li:first-child {
        border-right: 0px solid rgba(204, 204, 204, 0.60);
    }

    .abt_accdtns_sectn img:first-child {
        margin-right:40px;
    }

        .profil_main .col-sm-2 {
            width: 100%;
        }

      .banner-abt {
        padding-bottom:10%;
        height: inherit !important;
    }

    .banner-srv {
     padding-bottom:10%;
     height: inherit !important;
    }

    .banner-prf{
        padding-bottom: 10%;
        height: inherit !important;
    }
    .banner-contactus {
       padding-bottom: 10%;
            height: inherit !important;
    }

    .banner-ins {
      padding-bottom:10%;
      height: inherit !important;
    }


    .abt_section h1 {
            text-align: center;
    }



     /* ineer paage css */


        nav.menu {
         display: none !important;
       }


    .wb-main-footer .nav-tabs.nav-justified>li {
        float: left;
    }

    .wb-main-footer .container {
        padding:0 20px !important;
    }

    .ftr-clm-1, .ftr-clm-2, .ftr-clm-3, .ftr-clm-4 {
        margin-bottom: 20px !important;
        padding-left: 20px !important;
    }


    .padding-top-45.wb_view_more {
        margin-top: 10px;
    }

    .bannermain {
        height: 50vh !important;
    }

    .wt-clm-1-bg h3 {
        font-size: 2em !important;
    }


    .testimonials-carousel-main p {
        font-size: 1.2em;
        line-height: 24px;
    }

    .wt-clm-1-bg .p_margin_bottom {
        line-height: 38px !important;
        font-size: 1.5em !important;
    }

    .p-transform {
        font-size: 1.5em !important;
        text-transform:inherit;
    }

    .sectio-two-text {
        margin: 0px;
    }


     .dsk-top-rsp {
        margin-top:6% !important;
    }

    .section-two-img-main {
      margin-top:0px !important;
    }

    .featured-sub-1 h4 {
         position:inherit !important;
         margin-left:0px !important;
         text-align:center;
         font-size:2em !important;
     }

    .wt-clm-1-bg a.hvr-bounce-to-right {
        padding: 7px 16px;
        font-size: 1.2em!important;
    }

    .dnt-mnt-main h5 {
        text-align: center !important;
    }

    .featured-text p {
        text-align: center !important;
    }

    .featured-text h4 {
        font-size: 2em;
        margin: 0 0 15px 0 !important;
        text-align: center!important;
    }

    .section-four {
        padding:0px 20px 0px 20px !important;
    }

    .section_sub_margin {
        margin-top: 40px !important;
    }

    #quote-carousel .carousel-control.left {
        left: 0px !important;
    }

    .testimonials-carousel-main h5 {
        padding: 0 10% !important;
        margin-top: 10px !important;
    }

    .testimonials-carousel-main small {
        margin: 0px 0 20px 0 !important;
    }

    .testimonials-carousel-main {
        padding-bottom: 25px;
    }

    .testimonials-carousel-main .h4-box hr {
        margin: 7px auto 0px auto !important;
    }


}



@media (max-width:501px) and (min-width:100px) {

       .wt-clm-1.wt-clm-1-1 {
        height:560px !important;
    }
    .wt-clm-2.wt-clm-2-2 {
         height:560px !important;
    }


     /* ineer paage css */


    .testimonials-carousel-main h5 {
            font-size: 1.8em;
            line-height: 1.5;
            margin-top: 35px;
    }

        .banner-srv .top-title {
            margin: 22% 0 10px 0 !important;
        }



        .ftr-clm-1, .ftr-clm-2, .ftr-clm-3 {
                border-right:0px solid rgba(204,204,204,.37);
        }

        .wb-main-footer .nav-justified>li:last-child {
            padding-left: 0px;
        }

         .wb-main-footer .nav-justified>li:first-child {
            border-right: 0px solid rgba(204, 204, 204, 0.60);
        }

        .abt_accdtns_sectn img:first-child {
            margin-right: 15px;
        }

        .profil_main .col-sm-2 {
            width: 100%;
        }

          .banner-abt {
        padding-bottom:10%;
        height: inherit !important;
    }

    .banner-srv {
     padding-bottom:10%;
     height: inherit !important;
    }

    .banner-prf{
        padding-bottom: 10%;
        height: inherit !important;
    }
    .banner-contactus {
       padding-bottom: 10%;
            height: inherit !important;
    }

    .banner-ins {
      padding-bottom:10%;
      height: inherit !important;
    }

        .abt_section h1 {
            text-align: center;
        }

       h3.top-title {
           margin: 25% 0 20px 0 !important;
    }

     /* ineer paage css */


        nav.menu {
        display: none !important;
        }
        nav.menu ul li {
            float: left;
            width: 100%;
            text-align: center;
        }

        .sectio-two-text p {
           padding: 25px!important;
            font-size: 1.2em;
            line-height: 24px;
        }
        .sectio-two-text {
            min-height: inherit;
        }

        .section-four h4 {
            width: 100%;
       }

        .whtwd_main h4 {
            margin-bottom: 20px;
            margin-top: 30px;
        }

      .wb-main-footer .container {
        padding:0 20px !important;
     }

    .ftr-clm-1, .ftr-clm-2, .ftr-clm-3, .ftr-clm-4 {
        margin-bottom: 20px !important;
        padding-left: 20px !important;
        min-height: auto !important;
        min-height: 175px !important;
    }



    .padding-top-45.wb_view_more {
        margin-top: 10px;
    }

    .bannermain {
        height: 50vh !important;
    }

    .wt-clm-1-bg h3 {
        font-size: 2em !important;
    }

    .testimonials-carousel-main p {
        font-size: 1.3em;
        line-height: 24px;
    }

    .wt-clm-1-bg .p_margin_bottom {
    padding: 0px;
    line-height: 22px!important;
    font-size: 1.3em!important;
}

    .p-transform {
        padding-bottom: 5px !important;
        font-size: 1.2em!important;
        text-transform: inherit;
    }

    .sectio-two-text {
        margin: 0px;
    }

    .section-two-img-main {
      margin-top:0px !important;
    }

    .featured-sub-1 h4 {
         position:inherit !important;
         margin-left:0px !important;
         text-align:center;
         font-size:2em !important;
     }

    .wt-clm-1-bg a.hvr-bounce-to-right {
        padding: 7px 16px;
        font-size: 1.2em!important;
    }

    .dnt-mnt-main h5 {
        text-align: center !important;
    }

    .featured-text p {
        text-align: center !important;
    }

    .featured-text h4 {
        font-size: 2em;
        margin: 0 0 15px 0 !important;
        text-align: center!important;
    }

    .section-four {
        padding:0px 20px 0px 20px !important;
    }

    .section_sub_margin {
        margin-top: 40px !important;
    }

    #quote-carousel .carousel-control.left {
        left: 0px !important;
    }

    .testimonials-carousel-main h5 {
        padding: 0 10% !important;
        margin-top: 10px !important;
    }

    .testimonials-carousel-main small {
        margin: 0px 0 20px 0 !important;
    }

   .testimonials-carousel-main {
     padding-bottom:25px;
}

 #quote-carousel {
    padding: 15px 10px 10px 10px;
}

    .testimonials-carousel-main .h4-box hr {
        margin: 7px auto 0px auto !important;
    }
}









@media (max-width:320px) and (min-width:100px) {

    .h4-box {
        width:100% !important;
    }


    .wb-main-footer .nav-tabs.nav-justified>li>a {
        font-size: 1.2em;
    }

    .wb-main-footer h4 {
        font-size: 1.2em;
    }

    .wb-main-footer .tab-content p {
        line-height:24px;
        font-size: 13px !important;
    }

    .wb-main-footer .nav.nav-tabs.nav-justified {
        margin-bottom:10px;
    }

h1.title-main.animation.fadeInUp.wow {
    font-size: 1em !important;
    margin-top: 25% !important;
}

.banner-responsiv h2 {
    font-size: 14px !important;
    margin-top: 5px !important;
}


}



/*kmr*/
.margin-top-80 {
    margin-top: 80px;
}
h1.font-size2em{
    font-size: 2em;
    line-height: 1.6;
    margin-bottom: 2.5em;
}
.colorwhite #toggle span {
    background: #fff;
}
.colorwhite #toggle span:before, .colorwhite #toggle span:after {
    background: #fff;
}
button.hvr-sweep-to-right {
    background: none;
}
.contact-form {
    float: none !important;
}
nav.menu{
    display: none;
}
nav.menu ul {
    list-style: none;
    float: right;
    margin-top: 14px;
}
.fix {
    width: 100%;
    position: fixed;
    top: 0;
    display: block !important;
    padding: 5px 10px;
    background: #fff;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.07);
    z-index: 99;
}
nav.menu ul li a {
    padding: 10px;
    color: #000;
    font-size: 1.1em;
    display: block;
    text-decoration: none;
    transition: 0.6s;
}
nav.menu ul li a:hover, nav.menu ul li a:focus{
    color: #ce5386;
}
nav.menu ul li.active a{
    color: #ce5386;
}
nav.menu ul {
    list-style: none;
    float: right;
    margin-right: 150px;
}
nav.menu ul li {
    float: left;
}



/*kms*/
.wht_wedo_icon {
    text-align: center;
}
p.banner-text {
    font-size: 1.3em;
    margin-top: 20px;
    width: 80%;
    line-height: 2;
}
button.btn-defult {
    display: inline-block;
    width: 160px;
    background: #fff;
    border: 1px solid #ddd;
}
.title-sub {
    font-size: 1.6em;
    font-weight: 700;
    margin-top: 1.6em;
}
.bgcolorlightgray{
    background: rgb(245, 245, 245);
}
.contact-form {
    margin-top: 30px;
}
.padding-40px-0{
   padding-top: 60px;
   padding-bottom: 30px;
}
.center-block {
    float: none;
}
.form-control {
    border: none !important;
    background: #ddd !important;
    padding: 10px 12px !important;
    height: auto !important;
    border-radius: 0 !important;
}
.codrops-top {
    position: absolute;
    z-index: 99;
}
.banner-main-digi img {
    width: 100%;
}
.banner-main-digi h1 {
    position: absolute;
    bottom: 30%;
    left: 20%;
    font-size: 5em;
    z-index: 1;
    color: #fff;
    width: 40%;
    font-weight: 700;
    line-height: 1.3;
}


.banner-main-tech img {
    float: right;
    margin-right: 5%;
}
.banner-main-tech h1 {
    position: absolute;
    top: 30%;
    left: 20%;
    font-size: 5em;
    z-index: 1;
    color: #fff;
    width: 40%;
    font-weight: 700;
    line-height: 1.3;
}

.banner-main-tech {
    height:672px;
    overflow: hidden;
    background: #212121;
}
span.linedonw {
    width: 2px;
    height: 278px;
    position: absolute;
    left: 49%;
    bottom: -22%;
    z-index: 99;
}

/* section 2 */
.section-2-services {
    min-height: 100vh;
    background: #fff;
    padding-top: 4%;
    position: relative;
}
.section-2-services p {
    font-size: 1.5em;
    line-height: 2;
    color: #fff;
}
.section-2-services p.font-size14 {
    font-size: 14px;
    margin-top: 20px;
    color: #333;
}
.icon-set {
    padding-top: 40px;
    padding-bottom: 40px;
}
.icon-set h3 {
    color: #666;
    font-size: 1.8em;
    letter-spacing: 0;
    margin-bottom: 80px !important;
}

/* section 3 */
.section-3-services {
    height: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    background: #fff;
    position: relative;
}
.section-3-services h3{
    color: #000;
    font-size: 1.2em;
}
.section-3-services p{
    color: #000;
    font-size: 1.3em;
    line-height: 2;
    margin-top: 20px;
}
.section-3-services .title{
    font-size: 1em;
    letter-spacing: 5px;
    color: #000;
    margin-bottom: 15px;
    padding-left: 150px;
    background: url(../images/title-line-left.png);
    background-repeat: no-repeat;

}

/* section 4 */
.section-4-services {
    height: 672px;
    padding-top: 80px;
    background: #fff;
    position: relative;
}
.section-4-services h3{
    color: #000;
    font-size: 1.2em;
}
.section-4-services p{
    color: #000;
    font-size: 1.3em;
    line-height: 2;
    margin-top: 20px;

}
.section-4-services .title{
    font-size: 1em;
    letter-spacing: 5px;
    color: #000;
    margin-bottom: 15px;
    padding-left: 150px;
    background: url(../images/title-line-left.png);
    background-repeat: no-repeat;
}

.font-size14{
    font-size: 14px !important;
}
.colorgray{
    color:#333 !important;
}
.btn-defult {
    border: 1px solid #666;
    padding: 10px 0px;
    margin-top: 15px;
    display: block;
    max-width: 160px;
    color: #fff;
    font-size: 1.3em;
    text-align: center;
    text-decoration: none !important;
    transition: 0.6s;
}
.btn-defult:hover, .btn-defult:focus {
    background: #be2865;
    color: #fff;
    border: none;
}
.fadein {
    opacity: 0;
}
.imgtop1 {
    width: 250px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
}
.imgtop1 img, .imgbttom2 img {
    width: 100%;
    transition: 0.5s;
}

.imgbttom2 {
    width: 250px;
    position: absolute;
    top: 180px;
    left: 0;
}
.padding-left-50 {
        padding-left: 50px !important;
}
.padding-right-50 {
        padding-right:50px !important;
}
.footerlink {
    padding: 20px 15px;
    background: #be2865;
}
.footerlink span{
    font-size: 3em;
    color: #fff;
}
.footerlink a{
    color: #fff;
}
.footerlink a:hover{
    color: #fff;
}
h1.techtitle {
    top: inherit;
    left: 14% !important;
    bottom: 50%;
    margin-bottom: 15px;
}
p.subtext-tech {
    position: absolute;
    bottom: 33%;
    left: 14%;
    color: #fff;
    font-size: 1.2em;
    z-index: 99;
    width: 35%;
    line-height: 2;
}
h3.titleh3 {
    font-size: 2em;
    line-height: 1.5;
}
p.text {
    font-size: 1.2em;
    line-height: 2.2;
}
.section-2-mobile {
    padding: 75px 0;
}
.section-2-mobile h3.titleh3 {
    margin-top: 6%;
}
.section-3-newproductdev{

    background-color: #f9f9f9;
    padding: 75px 0;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 27%;
    height: auto;
}
.section-3-newproductdev p {
    color: #333;
}
.section-3-newproductdev h3.titleh3 {
    color: #000;
    margin-top: 0;
    margin-bottom: 50px;
}
.scroll-down2{
    position: absolute;
    position: absolute;
    z-index: 99;
    bottom: 2%;
    left: 49%;
    width: 70px !important;
    }
.section-4-iconset img.icon-1 {
    width: 17%;
}
.section-4-iconset img.icon-2 {
    width: 17%;
    margin-top: 50px;
}
.section-4-iconset img.icon-3 {
    width: 17%;
}
.section-4-iconset img.icon-4 {
    width: 17%;
    margin-top: 50px;
}

.section-4-iconset img {
    margin: 0 2%;
}
.font-size16 {
    font-size: 1.2em;
    line-height: 2;
}
.colorblack{
    color: #000;
}
.section-5-chalkboard{
    background: #333;
    background-size: 100%;
    padding: 50px 0
}
.colorwhite   {
    color: #fff !important;
}
.section-6-sustenance{
    padding: 50px 15px;
}
.section-7-accoudion {
    background: #fff;
    padding: 50px 15px;
}
.section-7-accoudion .panel-heading {
    padding: 0;
    background: none !important;
    border: none !important;
}
.section-7-accoudion .panel-title a {
    padding: 10px;
    display: block;
    font-size: 1.5em;
    color: #333;
    border-bottom: 1px solid #eee;
    outline: none;
    text-decoration: none !important;
}
.section-7-accoudion .panel-group .panel {
    background: none;
    border: none;
}
.section-7-accoudion .panel-body {
    color: #333;
    line-height: 2.5;
    font-size: 1.2em;
    border: none !important;
}
.btn-grp-web-mobile {
    list-style: none;
    margin: 0 0 40px 0;
    padding: 0;
    width: 100%;
    text-align: center;
    display: inline-block;
    padding-left: 30.5%;
}
.btn-grp-web-mobile a {
    float: left;
    font-size: 1.8em;
    margin-right: 30px;
    color: #000;
    text-decoration: none !important;
}
.btn-grp-web-mobile li {
    opacity: 0.3;
}
.btn-grp-web-mobile li.active{
    opacity: 1;
}
#Mobdev img {
    width: 80%;
    margin: 0 auto;
}
.banner-srv {
    background: url(../images/srvbanner.jpg) no-repeat;
    background-size: 100%;
    height: 672px;

}
.banner-abt {
    background: url(../images/abtbanner.jpg) no-repeat;
    background-size: 100%;
    height: 672px;
}
.banner-prf{
    background: url(../images/portbanner.jpg) no-repeat;
    background-size: 100%;
    height: 672px;
}
.banner-contactus {
    background: url(../images/cntbanner.jpg) no-repeat;
    background-size: 100%;
    height: 672px;
}
.banner-ins {
    background: url(../images/ingbanner.jpg) no-repeat;
    background-size: 100%;
    height: 667px;

}
h3.top-title {
    font-size: 1.3em;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: bold;
    color: #be2764;
    margin:25% 0 20px 0;
    line-height: 0;
}

h1.title-main {
    font-size: 4em;
    margin: 0;
    line-height: 1.4em;
}

section.container {
    padding-top: 40px;
    padding-bottom: 40px;
}


h3.title {
    font-size: 2em;
    margin: 0 0 20px 0;
    line-height: 1.5em;
    font-weight: 700;
}
.h4-box {
    letter-spacing: 3px;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}
.section-bullets {
    background: #333;
    padding: 70px 0;
}
.section-bullets > div > div {
    color: #fff;
    font-size: 18px;
    padding-bottom: 40px;
    line-height: 1.7;
}
.section-bullets > div > div .fa {
    color: #b72666;
    margin-right: 10px;
}
.section-glb-loction {
    background: #333;
    padding: 70px 0;
}
.section-glb-loction h4.h4-box{
    color: #fff;
}
.section-glb-loction .container{
    background: url(../images/glb-bg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 300px;
}

.logo2.pull-left img {
    width: 180px;
}
@media only screen and (max-width: 767px) {
    #contact_form .input-group {
    margin-bottom: 15px;
}

.forkit-curtain .close-button {
    z-index: 999999  !important;
    right: 20px !important;
    top: 20px !important;
    }
    .contactusform {
    width: 100% !important;
    }
    .contactusform textarea.form-control {
    height: 100px !important;
}
.forkit-curtain {
    width: 100% !important;
    overflow: scroll;
    }
nav.menu ul li a {
    font-size: 1.1em !important;
    padding: 21px 8px 0 8px !important;
}

    #pastwork h2.title {
    font-size: 1.3em  !important;
    line-height: 1.6;
    color: #333;
    margin-top: 0px  !important;
}

    .banner-tech h1.title-main.animation.fadeInUp.wow {
    margin-top: 0 !important;
    font-size: 2em !important;
}
    .banner-digital h1.title-main.animation.fadeInUp.wow {
    margin-top: 0 !important;
    font-size: 2em !important;
}
    .text-left-digi .sectio-two-text {
    margin-left: 0;
    width: auto !important;
    }
    .text-right-digi .sectio-two-text {
    margin-left: 0 !important;
    }
    #digital-content h1 {
    line-height: 1.5em;
    margin-bottom: 50px;
    font-size: 1.5em !important;
    }
    .banner-digital{
   height: auto !important;
    min-height: 200px !important;
    background-size: 100% 100% !important;
    }
    .banner-tech{
   height: auto !important;
    min-height: 200px !important;
    background-size: 100% 100% !important;
    }

    #strategy {
        margin-top:0px;
    }

    .testimonials-carousel-main h5 {
        padding: 0 0% !important;
        margin-top: 10px !important;
    }
    .ftr-clm-1, .ftr-clm-2, .ftr-clm-3, .ftr-clm-4 {
    padding-left: 10px !important;
    min-height: auto !important;
}
    .wb-main-footer a {
    font-size: 12px;
}
.ftr-clm-2 p, .ftr-clm-3 p, .ftr-clm-4 p {
    margin: 0 0 5px 0 !important;
}
    .banner-contactus {
    height: auto !important;
    }
    .h4-box hr {
    width: 18%;
    border-bottom: 1px solid #ffd463;
    margin: 4px auto;
}
/*    h3{font-size: 1em !important; line-height: 1.5;}*/

    h3.top-title {
        font-size: 0.8em;
        margin-bottom: 10px !important;
    }
    .section-bullets > div > div {
    color: #fff;
    font-size: 1.2em;
    padding-bottom: 15px;
    }
    .title-sub {
    font-size: 1.2em;
    }
    .section-glb-loction .colorwhite.text {
    font-size: 1em;
    }
/*
    .container-fluid .container {
    padding: 0;
    }
*/
    .form-control {
    margin-bottom: 10px;
    }
    .section-glb-loction .container {
    min-height: auto;
    }
    h3.title {
        font-size: 1em;
    }
    p.font-size18 {
        font-size: 12px;
    }
    .h4-box {
    letter-spacing: 3px;
    font-size: 0.8em !important;
    }
    .logo1 img {
    width: 50px;
    }
   h1.title-main {
    font-size: 1.4em !important;
    margin: 0;
}
    a.codrops-icon.codrops-icon-prev img {
    width: 30% !important;
    margin-top: 10px !important;
    margin-left: 0 !important;
    }
    .logo {
        left: 10% !important;
    }
    .banner-main-digi h1 {
    position: absolute;
    top: 8% !important;
    left: 9% !important;
    font-size: 2em !important;
    }
    .banner-main-tech h1 {
    position: absolute;
    top: 80px !important;
    left: 9% !important;
    font-size: 2em !important;
    }
    .section-2-services p {
        font-size: 1em !important;
    }
    .icon-set h3 {
        font-size: 2em !important;
    }
    .icon-set img {
        width: 100px;
    }
    span.linedonw{display: none !important;}
    .icon-set .col-xs-6 {
    min-height: 150px;}
    .padding-left-50 {padding: 0 !important;}
    .imgtop1, .imgbttom2{display: none !important;}
    .section-3-services p, .section-4-services p {font-size: 1em !important; margin-top: 20px !important;}
    .section-3-services, .section-4-services, .section-2-services  {height: auto !important; padding-bottom: 40px !important;}
    .footerlink span {
    font-size: 1em !important;
    }
    .footerlink {
    padding: 20px 15px !important;
    }

    p.subtext-tech {
    width: 75%;
    bottom: initial;
    top: 123px;
    font-size: .8em;
    left: 32px;
    line-height: 1.2;
    }
    .banner-main-digi h1.techtitle {
    font-size: 1.5em !important;
    top: 50px !important;
    width: 79% !important;
    bottom: initial;
}
    .banner-main-digi {
    height: 100% !important;
    position: relative;
}
       .banner-main-tech {
    height: 100% !important;
    position: relative;
}
    ul.btn-grp-web-mobile {
    padding-left: 0 !important;
}
    .scroll-down2{display: none;}

h3.titleh3 {
    font-size: 1.3em !important;
}
.section-3-newproductdev h3.titleh3 {
    color: #fff;
    margin-bottom: 10px;
    font-size: 2em;
    margin-top: 0;}
p.text {
    font-size: 1em !important;
    line-height: 2 !important;
}
.section-3-newproductdev {
    background-image: none !important;
    height: auto !important;
}
.font-size16 {
    font-size: 1em;
    line-height: 2;
}
.section-2-mobile, .section-3-newproductdev, .section-5-chalkboard {
    padding: 25px 15px !important;
}
.section-7-accoudion .panel-title a {
    font-size: 1.1em !important;
}
.section-7-accoudion .panel-body {
    color: #333;
    line-height: 2 !important;
    font-size: 1em !important;
}
a.codrops-icon.codrops-icon-prev {
    position: relative;
    z-index: 99;
}
.btn-grp-web-mobile a {
    font-size: 1.1em !important;
    margin-bottom: 10px !important;
}


    .wt-clm-1 .wt-clm-1-bg, .wt-clm-2 .wt-clm-1-bg, .wt-clm-3 .wt-clm-1-bg {
        padding-top: 10px !important;
    }

    .featured-text.featured-sub-1 {
        text-align: center;
    }

    .featured-text {
        text-align: center;
    }


    .dsk-top-rsp a.hvr-shrink {
        min-height: 124px !important;
    }

    .wht_we_do_hr {
    margin: 5px auto 0px auto !important;
   }

/*
.wt-clm-1-bg p {
    margin-bottom: 10px !important;
}

*/

.wt-clm-1, .wt-clm-2, .wt-clm-3 {
    padding: 0px !important;
   height: 405px !important;
}

}


@media only screen and (max-width: 1024px) {
    #toggle {
    margin: 0 0px 0px -8% !important;
    margin-top: 3px !important;
}
}
    .applicationbg {
    background: url(../images/applicationtech);
    background-size: 180% 100% !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
    display: block;
}
    .banner-digital h3.top-title {
    margin-top: 10%;
}
    .icon-set h3 {
    font-size: 2.5em;
}


     .banner-tech h3.top-title {
    margin-top: 10%;
}


  .dsk-top-rsp a.hvr-shrink {
      /* min-height: auto;*/
/*     min-height: 135px;*/
}
  .wt-clm-1-bg{padding-top:20px !important;}

    .logo2.pull-left img {
        width: 180px;
   }
/*
    nav.menu ul li a {
    font-size: 1.3em;
    }
*/
    .banner-contactus {

    padding-bottom: 30px;
}
    .banner-main-digi h1 {
    top: 30% !important;
    font-size: 3em !important;
    }
.banner-main-tech h1 {
     font-size: 3em;
    width: 100%;
    top: 160px;
    left: 20px !important;
}
    span.linedonw{display: none !important; }
    .section-3-services, .section-4-services, .section-2-services  {height: auto !important; padding-bottom: 40px !important; min-height: auto !important;}
    p.subtext-tech {
    width: 80%;
    left: 20px;
}

.banner-main-digi {
    height: 672px;
    overflow: hidden;
    position: relative;
}
.banner-main-tech img {
    float: right;
    margin-right: 0;
    width: 100%;
}
}

@media only screen and (max-width: 1280px) {
    body{font-size: 12px !important}
    html{font-size: 10px;}
    .section-3-services p, .section-2-services p, .section-4-services p{font-size: 14px !important;}
    .section-2-services p.font-size14 {font-size: 12px !important;}
    .icon-set {padding-top: 0 !important;padding-bottom: 0 !important;}
    .icon-set img {width: 50% !important;}
   .section-5-chalkboard .col-sm-8.col-xs-12 {width: 50%;}
    .section-5-chalkboard .col-sm-4.col-xs-12 { width: 50%;}
}
@media only screen and (max-width: 1200px) {

a.codrops-icon.codrops-icon-prev img {
    width: 100px !important;
    margin-top: 10px !important;
    margin-left: 0px !important;
}
.imgtop1 img, .imgbttom2 img {
    width: 75%;
    transition: 0.5s;
}
    .banner-main-tech {
    height: auto !important;
    }
}
@media only screen and (min-width: 2000px) {
    body{font-size: 18px !important;}
}



/* portfolio detail */
.port-detail section.container {
    background: #fff;
}
.port-detail {
    background: #f2f2f2;
}
.port-detail section.container > .col-xs-12 {
    padding: 60px 15px;
    border-bottom: 1px solid #ddd;
}
.port-detail section.container > .col-xs-12:last-child {
    border-bottom: none;
}
.port-detail h2 {
    margin: 0;
    font-size: 24px;
}
.typogrphy {
    padding-bottom: 50px;
}
.typogrphy .col-sm-6.text-center {
    padding: 40px 0;
}
.margin-top25prc{
    margin-top: 25% !important;
}
span.iconset-detail {
    position: absolute;
    right: 15%;
    bottom: 20px;
}
span.iconset-detail a {
    font-size: 2.2em;
    margin: 0 6px;
    color: #666;
    transition: 0.6s
}
span.iconset-detail a:hover{
    color: #000;
}
.port-detail p {
    line-height: 2;
    font-size: 1.3em;
}
.port-detail h3.title {
    font-size: 1.4em;
    font-weight: normal;
    margin: 0 0 10px 0;
}
.port-detail h4.title2 {
    font-size: 1.2em;
    color: #333;
    margin: 0;
}
.banner-rocknshop {
    background: url(../images/portfolio-img/rockbnr.jpg) no-repeat;
    background-size: 100%;
    height: 672px;
    position: relative;
}
.banner-acc {
    background: url(../images/portfolio-img/accbnr.jpg) no-repeat;
    background-size: 100%;
    height: 672px;
    position: relative;
}
.banner-beerpass {
    background: url(../images/portfolio-img/beerpsbnr.jpg) no-repeat;
    background-size: 100%;
    height: 672px;
    position: relative;
}
.banner-talant{
    background: url(../images/portfolio-img/talantbnr.jpg) no-repeat;
    background-size: 100%;
    height: 672px;
    position: relative;
}
@media only screen and (max-width: 767px) {
    .techcloud {
    height: 600px !important;
}
    .techapplication {
    height: 600px !important;
}
#ikigai {
    width: 100%;
}
    .talk-section-main h2{
        font-size: 2em !important;
    }
h1.font-size2em {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 2.5em;
}
    .banner-responsiv {
    height: 162px;
    }
    .banner-responsiv h2 {
    font-size: 1em;
}
    span.iconset-detail {
    position: absolute;
    right: 0;
    bottom: -39px;
}
    .logo.pull-left {
    left: 0 !important;
}
    .logo.pull-left img {
    width: 40px;
}
    .port-detail section.container > .col-xs-12 {
    padding: 20px 15px;
    margin-top: 10px;
}

.banner-Launcher, .banner-taxi, .banner-hot, .banner-reality, .banner-buttercups, .banner-esi, .banner-prime, .banner-zoffio, .banner-cult, .banner-cb, .banner-sepalika, .banner-flyrt, .banner-rocknshop, .banner-acc, .banner-beerpass, .banner-talant, .banner-modernise {
    height: 142px !important;
}
}
@media only screen and (max-width: 1024px) {
    .wt-clm-1, .wt-clm-2, .wt-clm-3 {
   height: 340px;
}

.banner-responsiv {
    height: 300px;
}
    .banner-responsiv h2 {
    font-size: 16px;
    margin-top: 10px;
}
    span.iconset-detail {
    position: absolute;
    right: 30px;
    bottom: 10px;
}
    h1.title-main {
    font-size: 3em;
}
    .margin-top25prc {
    margin-top: 20% !important;
}
}

/*New Edit Css Faris*/


.project-item-sub {
    background: #ddd !important;
    text-align: center;
    padding-top:40%;
    float:left;
    width:100%;
    font-size:2em;
}

.project-item-sub .hvr-grow {
    border:0px solid #999;
}

.project-item-sub a{
    color: #333;
}

.project-item-sub a:hover {
    color: #ce5386;
    text-decoration:none;
}

.grid {
    position: relative;
    padding: 0;
    list-style: none;
    text-align: center;
}

.no-padding {
    padding: 0 !important;
}

.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    background: #000;
    text-align: center;
    cursor: pointer;
}

.port-inside .info-top {
    top: 20%;
    width: 90%;
    left: 5%;
}


figure.effect-chico h2 {
    padding: 1% 0 20px 0;
    font-size: 20px;
}
set1.css:68
.grid figure h2, .grid figure p {
    margin: 0;
}

.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

figure.effect-chico h2 {
    font-weight: 400 !important;
}
.info-top {
    position: absolute;
    top: 25%;
    text-align: center;
    width: 80%;
    left: 10%;
}

/*New Vedio css*/

    #baner-main-div {
        padding: 0px !important;
        height: 100vh;
    }
   .wrapper {
        width: 100%;
        height: 100vh;
        min-height: 650px;
        overflow: hidden;
        background: #000;
        position: absolute;
        top: 0;
        left: 0;
    }

    .wrapper video {
        object-fit: contain;
        object-fit: fill;
        object-fit: cover;
        width: 100%;
        height:auto;
        min-width: 100%;
        min-height: 100%;
        min-width: 100%;
        min-height: 100%;

        height:auto\0 !important;
        opacity: 0.3;
    }

    .wrapper h1 {
      line-height: 1.4;
      font-size:6vmin;
      color:white;
      top:45%;
      margin: 0;
      position: absolute;
      z-index: 2;
      width: 100%;
      text-align: center;
    }


  video::-webkit-media-controls {
    display:none !important;
  }

/*New Vedio css*/


.h3-padding {
    padding: 0 10%;
    font-size: 24px !important;
}

.recent-work {
   background-color: #f0f0f0;
}

.recent-work .project-items {
    margin:0px -36px !important;
    display: inherit !important;
}

.recent-work .project-item {
     margin-bottom: 0px !important;
}

.recent-work .h4-box {
    margin-bottom: 45px !important;
    padding-bottom: 0px;
    padding-top: 15px;
}


/*.border-background {
    width:100%;
    height:4px;
    float:left;
    background: #24005f;
    background: -moz-linear-gradient(45deg, #24005f 0%, #901b70 32%, #c12465 63%, #e9af3b 100%);
    background: -webkit-linear-gradient(45deg, #24005f 0%,#901b70 32%,#c12465 63%,#e9af3b 100%);
    background: linear-gradient(45deg, #24005f 0%,#901b70 32%,#c12465 63%,#e9af3b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24005f', endColorstr='#e9af3b',GradientType=1 );
}*/

#strategy h1 {
    line-height:1.5em;
    margin-bottom:25px;
    font-size: 2.5em;
    margin-top: 50px;
}


#strategy p {
    font-size: 1.6em;
    text-align:left;
}

.contact-text {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.6em !important;
}


.section-two-img-main.margin_btm img {
    width: 100% !important;
    height: inherit;
}

.section-glb-loction .colorwhite.text {
    font-size: 1.3em;
    line-height: 2;
    margin-top: 25px;
}

p.font-size18 {
    font-size: 1.3em;
    line-height: 2.2;
    color: #333;
}

.padding-bottom-0 {
    padding-bottom:0px !important;
}

.margin-top-0 {
    margin-top:0px !important;
}

.section-two-img-main p em {
        font-size: .9em;
}



/* portfolio kmr */
.img-responsive{
    width: 100%;
}
.banner-flyrt {
    background: url(../images/flyrtbanner.jpg) no-repeat;
    background-size: 100%;
    height: 672px;
    position: relative;
}
.banner-sepalika {
    background: url(../images/abtbanner-sep.jpg) no-repeat;
    background-size: 100%;
    height: 666px;
    position: relative;
}
.banner-cb {
    background: url(../images/CBbanner.jpg) no-repeat;
    background-size: 100%;
    height: 666px;
    position: relative;
}
.banner-cult{
    background: url(../images/culturbanner.jpg) no-repeat;
    background-size: 100%;
    height: 666px;
    position: relative;
}
.banner-zoffio{
    background: url(../images/zoffiobanner.jpg) no-repeat;
    background-size: 100%;
    height: 666px;
    position: relative;
}
.banner-prime{
    background: url(../images/primbanner.jpg) no-repeat;
    background-size: 100%;
    height: 666px;
    position: relative;
}
.banner-esi{
    background: url(../images/esibanner.jpg) no-repeat;
    background-size: 100%;
    height: 666px;
    position: relative;
}
.banner-buttercups{
    background: url(../images/buttercupsbanner.jpg) no-repeat;
    background-size: 100%;
    height: 666px;
    position: relative;
}
.banner-reality{
    background: url(../images/relitybanner.jpg) no-repeat;
    background-size: 100%;
    height: 666px;
    position: relative;
}
.banner-hot{
    background: url(../images/hotbanner.jpg) no-repeat;
    background-size: 100%;
    height: 666px;
    position: relative;
}
.banner-taxi{
    background: url(../images/taxibanner.jpg) no-repeat;
    background-size: 100%;
    height: 666px;
    position: relative;
}
.banner-Launcher{
    background: url(../images/Launcherbanner.jpg) no-repeat;
    background-size: 100%;
    height: 666px;
    position: relative;
}
.banner-footsizer{
    background: url(../images/footsizerbanner.jpg) no-repeat;
    background-size: 100%;
    height: 666px;
    position: relative;
}
.icon-set img {
    width: 150px;
}
.banner-main-digi {
    height: 672px;
    overflow: hidden;
    position: relative;
}

.insights-view h3.top-title {
    margin-top: 10%;
}
.insights-view p {
    font-size: 1.4em;
    margin-top: 15px;
    line-height: 2;
    text-align: justify;
}
.insights-view img {
    margin-bottom: 20px;
    width: 100%;
}
.insights-view h3 {
    font-size: 1.2em;
    margin: 20px 0 20px 0 !important;
    font-weight: 700;
}
.insights-view ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.insights-view ul li {
    font-size: 1.4em;
    margin: 15px 0;
    background: url(../images/icon.jpg);
    background-position: 0px 5px;
    background-repeat: no-repeat;
    padding-left: 26px;
    background-size: 18px;
}
.insights-view {
    max-width: 900px;
}
.insights-view h1 {
    font-size: 2.5em;
    font-weight: 700;
}


/* contact us form */
#contact_form .input-group {
    float: left;
    padding: 0 15px;

}
#contact_form .input-group-addon {
    background: #fff !important;
    padding-right: 0px !important;
}
#contact_form .form-control {
    background: #fff !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-left: none !important;
    box-shadow: none;
}
#contact_form textarea#message {
    border-left: 1px solid #ccc !important;
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}
button.hvr-grow {
    background: none;
}
/* -- 17/7/17 -- */

.icon-port-folio {
    width: 120px;
    height: 120px;
    margin: 0 auto;
}
.icon-port-folio a {
    font-size: 3em;
    cursor: pointer;
    color: #999;
}
.icon-port-folio a:hover, .icon-port-folio a:active, .icon-port-folio a:focus{
    color: #c02062;
}
.icon-port-folio {
    width: 130px;
    height: 130px;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
}
.port-detail section.container > .col-xs-12:first-child {
    padding-top: 0 !important;
}
.banner-digital {
    background: url(../images/digitalbanner.jpg) no-repeat;
    background-size: 100%;
    height: 672px;
}

.banner-tech {
    background: url(../images/bannertech.jpg) no-repeat;
    background-size: 100%;
    height: 672px;
}
#digital-content h1 {
    line-height: 1.5em;
    margin-bottom: 50px;
    font-size: 2.5em;
    margin-top: 50px;
}
.img-digi .imgtop1, .img-digi .imgbttom2{
    width: 300px !important;
}
.text-right-digi .sectio-two-text {
    margin-left: -100px;
    position: relative;
    z-index: 99;
}
.text-right-digi .sectio-two-text p {
    padding: 5% 45px 0 45px !important;
    font-size: 1.4em;
}
.text-right-digi .panel-title{
    font-size: 1.6em;
    margin: 10px 0 !important;
}
.text-right-digi p {
    font-size: 1.2em;
    line-height: 2;
}

.text-left-digi .sectio-two-text {
      margin-left: 0;
    width: 120%;
    position: relative;
    z-index: 9999;
}
.text-left-digi .sectio-two-text p {
    padding: 5% 45px 0 45px !important;
    font-size: 1.4em;
}
.text-left-digi .panel-title{
    font-size: 1.6em;
    margin: 10px 0 !important;
}
.text-left-digi p {
    font-size: 1.2em;
    line-height: 2;
}
.left0{
    left: 0 !important;
}
.right0{
    right: 0 !important;
        left: inherit;
}
.tech-text h1.title {
    margin: 0 0 15px 0 !important;
        font-size: 2em !important;
    font-weight: 700;
}
.applicationbg{
    background:url(../images/applicationtech.jpg);
    background-size: 100%;
    /*background-repeat: no-repeat;*/
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}
div.height75{
    height: 75px;
    display: block;
    clear: both;
}


#pastwork {
    margin-top: 60px;
}
#pastwork h2.title {
    font-size: 1.7em;
    line-height: 1.6;
    color: #333;
    margin-top: 75px;
}
.font-size12{
    font-size: 12px;
}
.coming_soon {
    padding-top: 20%;
}
/*.talk-section-main h2 span {
    margin: 0 15px;
}
*/
.applicationbg .featured-text p {
    color: #333;
    line-height: 2em;
    font-weight: normal;
    margin-bottom: 25px;
    font-size: 1.4em;
}
.applicationbg h3 {
    font-weight: 600;
    margin-bottom: 40px;
    font-size: 1.9em;
}
.section-two-img-main h1 {
    margin: 0;
}
.min-hiegt410 {
    height: 420px;
    margin-bottom: 20px;
    position: relative;
}
p.postiodown {
    position: absolute;
    bottom: 0;
    width: 90%;
}
.sub_dvn_one_bg {
    background-color: #333333 !important;
}

.sub_dvn_one_bg h3, .sub_dvn_one_bg p, .sub_dvn_one_bg a{
    color: #fff !important;
}
.applicationbg2 {
    display: none;
    position: absolute;
    padding-top: 50px;
    height: 100%;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.90);
}
.applicationbg {
    transition: 0.9s;
    position: relative;
}
.contactusform {
    width: 70%;
    margin: 0 auto;
}
.contactusform .form-control {
    background: none !important;
    border: 1px solid #fff !important;
    box-shadow: none !important;
    outline: none !important;
    border-left: none !important;
    border-top-right-radius:4px !important;
    border-bottom-right-radius:4px !important;


}

.contactusform textarea.form-control, .contactusform .form-control:after, .contactusform .form-control:before{
    border-left: 1px solid #fff !important;
    border-top-left-radius:4px !important;
    border-bottom-left-radius:4px !important;
}
.contactusform .input-group-addon {
    background: none;
    border: 1px solid #fff;
    color: #999;
    margin-top: -1px;
}

.contactusform h1{

    font-size: 2.5em;
    color: #fff;
}
.contactusform .hvr-grow {
    background: none;
}


/*Faris Latest Edit css 1 August*/


.coming_soon {
    padding-top:30%;
}

.past-work-main
{
    margin-top: 40px;
    width: 100%;
    float: left;
    margin-bottom: 40px;
}

section#section2 {
    padding-left: 0px;
    padding-right: 0px;
}



.pst_wrk_dvd_mgn {
    margin-top:25px;
}

.past-work-main .project-item {
    height:auto;
}

.past-work-main .project-item .overlay h3 {
    line-height: 28px;
}

.past-work-main .overlay-content {
    width: 100%;
    text-align: center;
    padding: 0 15% 0 0;
    position: absolute;
    z-index: 4;
    top: 40%;
    left: 40px;
    color: #fff;
}

.wt-clm-1-1 h3, .wt-clm-2-2 h3 {
    margin-top:50px;
    margin-bottom:50px !important;
}


.wt-clm-2-2 .dsk-top-rsp a.hvr-shrink {
    min-height: 250px;
}

.wt-clm-1-1 .dsk-top-rsp a.hvr-shrink {
    min-height: 250px;
}

.wt-clm-1-1 {
    background: url(../images/home-page-img/home_wtwedo_1_1.jpg) no-repeat;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.wt-clm-2-2 {
    background: url(../images/home-page-img/home_wtwedo_2_2.jpg) no-repeat;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


.banner-modernise {
    background: url(../images/portfolio-img/modernise_banner.png) no-repeat;
    background-size: 100%;
    height:auto;
    position: relative;
    padding-bottom:30px;
}

h2.animation.fadeInUp.wow.color-wight {
    color: #fff;
}

h1.margin-top25prc.title-main.animation.fadeInUp.wow.color-wight {
    color: #fff;
}

#digital-content h1 {
    line-height: 1.5em;
    margin-bottom:0px;
    font-size: 2.5em;
    margin-top: 50px;
}
.g-recaptcha {
    display: inline-block;
    margin-bottom: 20px;
}
